
@media print{@page {size: landscape}}


.c2, .c10 { margin-bottom: 23px }
.c3, .c9 { margin-bottom: 60px }
.c3b, .c9b { margin-top: 70px; margin-bottom: -10px }
.c4, .c8 { margin-bottom: 130px; }
.c5, .c7 { margin-top: 135px; }
.c6 { text-align: center  }
.c6 { float: left; margin-right:2px;  text-align: center  }

hr { color: #f00; border: 0; background-color: #ccc; height: 1px; width: 88px; margin-top: 3px; margin-bottom: 3px; }
.spacer15 { height: 15px; }
.spacer2 { height: 10px; }
.spacer180 { height: 155px; }

#col1b { float: left; }  
/*#col2, #col3, #col4, #col5, #col6, #col7, #col8, #col9, #col10, #col11 { margin-left: 5px; float: left; }
#col2, #col10 { position: relative; top:9px; }
#col3, #col9 { position: relative; top:27px; }
#col4, #col8 { position: relative; top:65px;  }
#col5, #col8 { margin-left: -65px; margin-right: 45px; z-index: 99; position: relative; }
#col8 { margin-right: 0px;}
#col7 { margin-left: 12px; position: relative; }
#col6 { margin-top: 40px; margin-left: -130px; margin-right: -100px; position: relative; top: 250px; z-index: 130; }*/

.vliner { border-right: 1px solid #ccc; }
.vlinel { border-left: 1px solid #ccc; }
#vlinec { background: url('../img/vlinec.gif') repeat-y center;}

.winner { border: 1px solid #999; }
.winner:hover { border: 1px solid #999; cursor: auto; }

#thetitle { font: bold 18px Arial; position: absolute; text-align: center; left: 350px; top: -10px; z-index: 101 }
#thetitle p.instruct { font: italic 11px Arial; color: #666; margin-top: -15px }
#printbtn { padding: 5px; background-color: #000; color: #fff; font: 12px Arial; width: 80px; border-radius: 5px; margin-left: auto; margin-right: auto; }
#printbtn:hover { background-color: #666; cursor: pointer; }

#firstfour { width: 885px; border-top: 1px dotted #CCC; padding-top: 5px; position: relative; z-index: 110 }
#firstfour .title { font: bold 13px Arial; text-align: center; margin: 0 0 5px 0;}
#firstfour .subtitle { font: 10px Arial; margin: 0 0 3px 4px; color: #999;}
.ffmodule { float: left; border-right: 1px dotted #ccc; padding-right: 10px; margin-right: 10px; }
.ffcol1 { float: left; }
.ffcol2 { float: left; margin: 8px 0 0 5px }

.rlabel { position: absolute; font: bold 13px Arial; color: #999;}
#r1 { top: 142px; left: 215px; }
#r2 { top: 450px; left: 215px; }
#r3 { top: 142px; left: 620px; }
#r4 { top: 450px; left: 620px; }

#c4s1 { z-index: 200; position: relative; }
#c4s2 { z-index: 201; position: relative; }
#c4s3 { z-index: 202; position: relative; }
#c4s4 { z-index: 203; position: relative; }
#c7s1 { z-index: 204; position: relative; }
#c7s2 { z-index: 205; position: relative; }
#c8s1 { z-index: 206; position: relative; }
#c8s2 { z-index: 207; position: relative; }
#c8s3 { z-index: 208; position: relative; }
#c8s4 { z-index: 209; position: relative; }

.rdate { font: 9px Arial; color: #999; margin-bottom: 3px }

#left-column {
	float: left;
}

#right-column {
	float: right;
}

.print_round {
	float: left;
	padding: 2px;
	margin-left: 2px;
	position:relative;
}

.print_round_right {
	float: right;
	padding: 2px;
	margin-left: 2px;
	position:relative;
}

.print_final_round {
	position:relative;
	left:45%;
	top:50%;
	width:20%;

}

.slot { 
	padding: 1px 3px 5px 3px; 
	border: 1px solid #eaeaea; 
	font: 10px Arial; 
	background-color: #f0f0f0; 
	margin-bottom: 6px;  
	height:18px; 
    width:101px; 
    color:black;
}

.slot:nth-child(odd) {
	margin-bottom: 0;
}

.match {
	margin-bottom:5px;
}

.printBrackets {

	background-color: white;
	width: 300px;
	height:30px;
}

.finalists {

	position:relative;
	left:45%;
	top:50%;
	width:20%;

}