

/*body
{
    margin: 0;
}*/

/* ======================================= Gracket ========================================*/

.gracket-holder {
    /*overflow: visible;*/
    width: 100%;
}

.metro {
    width: 100%;
}

#gracket {
    /*display:none!important;*/
}
#gracket-img {
    /*display: block!important;*/
}

.sponsor-holder {
    display: none;
}

.g_round { float: left; margin-right: 35px; width: 200px; }
.g_game { position: relative; margin-bottom: 15px; background: #181C20; }
.g_gracket h3 {
    box-shadow: inset 0 0 0 1000px #cecece;
    background-color: #181C20;
    margin: 0;
    padding: 5px 3px 5px 7px;
    font-size: 10px;
    font-weight: 400;
    min-width: 100px;
}
.g_gracket h3.doubles
{
    height: 55px
}

.g_team { background: #30373c; }
/*.g_team:last-child {  background: #817F79; }*/
.g_round:last-child { margin-right: 20px; }
.g_winner { background: #444; }
.g_winner .g_team { display: none}
.g_current { cursor: pointer;
    background: #181c20 !important;
}
.metro .g_round_label { top: -5px; font-weight: 400; color: #000; text-align: center; font-size: 16px; }

.ord_num {
    position: absolute;
    left: -10px;
}

.table-input {
    /*width: 50px;*/
}
.g_seed
{
    display: inline-block;
    padding-left: 15px;
}
/*.scoreholder*/
/*{*/
    /*display: none;*/
/*}*/
/*.scoreholder
{
    display: inline-block;
    color: #FFC627;
    vertical-align: top;
    margin-left: 10px;
    float: right;
}*/

h3.doubles .scoreholder table
{
    margin-top: 10px;
}

.scoreholder table td
{
    padding: 0 3px;
}

/* ======================================= Gracket end ========================================*/

.navigation-bar.rfet{
    display: none;

}
.bracketPadding{
    display:none;
}
.table-title.tournament{
    display: none;
}
.row.gracket-holder{
    display: block;
}

canvas, .master-back {
    display: none;
}
/*
.g_spacer {
    height: 1cm;
}*/

#c1s1{
    color: black !important;
}

.printBrackets {

    display:none !important;

}

.finalists {
    position:relative;
    left:55%;
    top:50%;
    width:86%;
}

.print_final_round {
    position:relative;
    left:55%;
    top:50%;
    width:86%;
}
.print_round {
    float: left;
    padding: 2px;
    margin-left: 2px;
    position:relative;
}

.print_round_right {
    float: right;
    padding: 2px;
    margin-left: 2px;
    position:relative;
}

.slot { 
    padding: 1px 3px 5px 3px; 
    border: 1px solid #eaeaea; 
    font: 10px Arial; 
    background-color: #f0f0f0; 
    margin-bottom: 6px;  
    height:18px; 
    width:101px; 
    color:black;
}


.court-match
{
    background-color: #E5EBE5;
    border-style: solid;
    border-width: 1px;
    border-color: #3A4146 !important;
    margin-bottom: 20px;
    font-size:10px;
    height:80px;
}



.courts-view{
    color:#3A4146 !important;
}

.court-column{
    display:inline-block;
    padding:5px !important;
    width:23%;
}

.pageBreak {
    margin-bottom:80px;
}

.orderOfplay {
    display:none;
}

.printOOP{
    display:none;
}

.scoreholder{
    color:#3A4146;
    /*margin-top:-15px;*/
    margin-bottom:1px !important;
}

body {
    background:none;
}

.vsOOP {

    text-align: center;
    /*margin-bottom:5px;*/
    /*margin-top:-15px;*/
}

.view-schedule-full-screen{
    display:none;
}

.not-started{
    width:99%;
    padding-left:1px;
    height:15%;
    margin-top:1px !important;
}

.schedule-team-name{
    width:100% !important;
    text-align: center;
    margin-bottom:-15px !important;
}

.tour-nameOOP{
    text-align:center;
    color:#3A4146 !important;
    margin-top:-35px !important;
}

.dateOOP{
    text-align: center;
    color:#3A4146 !important;
    margin-top:-20px;
}

.courtnum{
    margin-top:-25px;
}

.timeOfPLay {

    text-align: center;
    margin-bottom:-15px;

}

.schedule-status{
    width:99%;
    padding-left:2px;
    height:15%;
    margin-top:1px !important;
}

.hideTile{
    visibility:none;
    margin-bottom:20px;
}

/*================Mozilla Firefox CSS start ===============*/

@-moz-document url-prefix() {

.timeOfPLay {

    text-align: center;
    margin-bottom:0px !important;
}

}
/*================Mozilla Firefox CSS end ===============*/


.link-underline {
    text-decoration: none;
}

tbody {
    font-size:10px;
    color:black;
}

.fiveCol {
    width:auto;
    text-align: left;
}

.sixthCol {
    width:auto;
    text-align: left;
}

.signupsList td {
     border-bottom: 1px solid black;
     padding: 0 10px 0 10px;
}

.signupsList th {
    padding: 0 10px 10px 10px;
    text-align: left;
}

.signupsList {
    margin-top:30px !important;
}

.hideOptions {
    display:none;
}

.hideForPrint {
    display:inherit;
}

.tournament-table .transparent.text-right
{
    display: none;
}

#left-column {
    margin-left:200px !important;
}

.schedule-player-holder {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    font-size: 15px !important;
}

