/* ================================================ Helper css classes ================================================ */
 .clear {
    clear: both !important;
}
 .gap0 {
    margin: 0 !important;
}
.gap5 {
    margin: 5px !important;
}
.gap9 {
    margin: 9px !important;
}
.gap10 {
    margin: 10px !important;
}
.gap15 {
    margin: 15px !important;
}
.gap20 {
    margin: 20px !important;
}
.gap-top0 {
    margin-top: 0 !important;
}
.gap-top5 {
    margin-top: 5px !important;
}
.gap-top9 {
    margin-top: 9px !important;
}
.gap-top10 {
    margin-top: 10px !important;
}
.gap-top15 {
    margin-top: 15px !important;
}
.gap-top20 {
    margin-top: 20px !important;
}
.gap-top25 {
    margin-top: 25px !important;
}
.gap-top24 {
    margin-top: 24px !important;
}
.gap-top30 {
    margin-top: 30px !important;
}
.gap-top45 {
    margin-top: 45px !important;
}

.gap-top90 {
    margin-top: 90px !important;
}
.gap-right0 {
    margin-right: 0 !important;
}

.gap-right3 {
    margin-right: 3px !important;
}

.gap-right5 {
    margin-right: 5px !important;
}
.gap-right10 {
    margin-right: 10px !important;
}
.gap-right15 {
    margin-right: 15px !important;
}
.gap-right20 {
    margin-right: 20px !important;
}
.gap-left0 {
    margin-left: 0 !important;
}
.gap-left3 {
    margin-left: 3px !important;
}
.gap-left5 {
    margin-left: 5px !important;
}
.gap-left10 {
    margin-left: 10px !important;
}
.gap-left15 {
    margin-left: 15px !important;
}
.gap-left20 {
    margin-left: 20px !important;
}
.gap-left25 {
    margin-left: 25px !important;
}
.gap-left30 {
    margin-left: 30px !important;
}
.gap-bottom0 {
    margin-bottom: 0 !important;
}
.gap-bottom5 {
    margin-bottom: 5px !important;
}
.gap-bottom10 {
    margin-bottom: 10px !important;
}
.gap-bottom15 {
    margin-bottom: 15px !important;
}
.gap-bottom20 {
    margin-bottom: 20px !important;
}
.gap-bottom25 {
    margin-bottom: 25px !important;
}
/* Pads (padding) */
 .pad0 {
    padding: 0 !important;
}
.pad5 {
    padding: 5px !important;
}
.pad10 {
    padding: 10px !important;
}
.pad15 {
    padding: 15px !important;
}
.pad20 {
    padding: 20px !important;
}
.pad25 {
    padding: 25px !important;
}
.pad-right0 {
    padding-right: 0 !important;
}
.pad-right5 {
    padding-right: 5px !important;
}
.pad-right10 {
    padding-right: 10px !important;
}
.pad-right15 {
    padding-right: 15px !important;
}
.pad-right20 {
    padding-right: 20px !important;
}

.pad-right100 {
    padding-right: 100px;
}
.pad-left0 {
    padding-left: 0 !important;
}
.pad-left5 {
    padding-left: 5px !important;
}
.pad-left10 {
    padding-left: 10px !important;
}
.pad-left15 {
    padding-left: 15px !important;
}
.pad-left20 {
    padding-left: 20px !important;
}
.pad-bottom0 {
    padding-bottom: 0 !important;
}
.pad-bottom5 {
    padding-bottom: 5px !important;
}
.pad-bottom10 {
    padding-bottom: 10px !important;
}
.pad-bottom15 {
    padding-bottom: 15px !important;
}
.pad-bottom20 {
    padding-bottom: 20px !important;
}
.pad-top0 {
    padding-top: 0 !important;
}
.pad-top2 {
    padding-top: 2 !important;
}
.pad-top5 {
    padding-top: 5px !important;
}
.pad-top10 {
    padding-top: 10px !important;
}
.pad-top15 {
    padding-top: 15px !important;
}
.pad-top20 {
    padding-top: 20px !important;
}
.pad-top35 {
    padding-top: 35px !important;
}

.pad-top40 {
    padding-top: 40px !important;
}
.pad-top50 {
    padding-top: 50px !important;
}

.pad-top70 {
    padding-top: 70px !important;
}

.pad-top75 {
    padding-top: 75px !important;
}

.pad-top85 {
    padding-top: 85px !important;
}

.pad-top108 {
    padding-top: 108px !important;
}