@media (max-width:1300px) {
	.metro .button.master-back{

		float:left;
		margin-left:0;
		margin-top:1%;
		position:relative;
	}
}

@media (max-width: 1200px){

	.metro .tiles.tile-1 
	{
		width:48%;
		position:relative;
		margin-left: 2.5%;
	}
	.metro .tiles.tile-1:first-of-type {
		margin-left:0px;
	}
	.metro .main-page .row
	{
		margin-top: 5px;
	}
	.metro .tiles
	{
		box-sizing: border-box;
	}
	.metro .tiles.tile-2
	{	
		display:block;
		width:100%;
		position:relative;
	}

	.metro .main-page .column3-layout:last-of-type
	{
		width:32%;
		margin-right:0px;
	}

	.metro .navigation-bar.rfet .user-logged 

	{
	
		float:right !important;
		vertical-align: top;
	}
	.metro 
	{
		width: 100%;

	}

	 .metro .navigation-bar .navigation-bar-content .element > a.dropdown-toggle:after,
	 .metro .navbar .navigation-bar-content .element > a.dropdown-toggle:after,
	 .metro .navigation-bar .navbar-content .element > a.dropdown-toggle:after,
	 .metro .navbar .navbar-content .element > a.dropdown-toggle:after {
	    width: 0px;
	    position: absolute;
	    left: 185px;
	}

	.metro .button.master-back{

		float:left;
		margin-left:0;
		margin-top:1%;
		position:relative;
	}

	.detail-label {
		width:24.6%;
	}

	.player-fined {
		padding-left:20px !important;
		padding-top:20px !important;
	}

}

@media (max-width:1180px) {

	.team-holder{
		width:100% !important;
		float:none !important;
	}
	.overview {
		width:60% !important;
		position:relative !important;
	}
}

@media (max-width:1150px) {

	.metro .tiles .tile-title{
		font-size:17px;
	}

	.metro .tiles .tile-number{

		margin-right:3px;
	}

	.metro .tiles.tile-1:hover .tile-title .tile-title-line {
	    width: 100px;
	}

	.metro .tiles.tile-2:hover .tile-title .tile-title-line {
	    width: 250px;
	}

	.tournament-table tbody tr > td {
		padding-right:0.1px !important;
	}

	.tournamentIndexResponsive {
		width:1070px !important;
		overflow-x:scroll !important;
	}

/*	.tournamentIndexResponsiveScroll {
		width:100% !important;
		overflow-x:scroll !important;
	}*/

}

@media (max-width:1024px){

	.metro .tiles .tile-title{
		font-size:15px;
	}

	.metro .tiles .tile-number{

		margin-right:5px;
	}

	.tournament-second {

		padding:0 5% 0 5%;
		margin-top: 10.5%;
	}
	.metro button.primary.dark{

		width:50%;
		/*float:left;*/
		
	}

	.login-button-main {
		width:100% !important;
	}

	.tournamentButtonIndex{
		margin-left:-24.95%;
	}

	.search-form-holder .form-control.submit-type {

		/*margin-right:1%;*/

	}
	.search-form-holder .form-control{

		width:100%;
		margin-right:0;

	}

	.metro .place-left {

		width: 25% !important;
		display: block;
		padding: 0 0 0 2px;
	}

	.metro .place-left.addLeftPad {
		padding: 0 10px 0 2px;
	}

	.tour-info{
		margin-left: 34%;
		margin-top: 5%;
		padding-bottom: 150px;
		/*position:absolute;*/
	}

	.tour-info .extra-info {
		display: inline;
		padding: 0 10px 10px 10px;
	}

	.imgResp {
		float:right !important;
		position:absolute;
		margin-left:30%;
		margin-top:-30%;
	}
	.sponsorResp {
		margin-bottom:40%;
	}

	.detail-label {
		width:24.6%;
	}

	.table-scrollable{
		width:100% !important;
		overflow-x:scroll !important;
	}

	.tabScrl{
		overflow-x:scroll !important;
		width:100% !important;
	}

	.table-scrollable.signupsList {
		width:100% !important;
		overflow-x:scroll !important;
	}

	#print-bracket-canvas {
		width:1200px !important;
		overflow-x:scroll;
	}

	.tournament-first-links {
		display:none !important;
	}

	.tournamentIndexResponsive {
		width:1070px !important;
		overflow-x:scroll !important;
	}

	.tournamentIndexResponsiveScroll {
		width:100%;
		overflow-x:scroll !important;
	}

	.messageShowPadding {
		margin-bottom: 20% !important;
	}

	.edit-statistics {
   		margin-top: 40px !important;
	}

	.line_chart {
		margin-left:15%;
		position: relative;
	}

	.line_chart.ranking-responsive {
		margin-left:1% !important;
	}


}

/*Portrait tablet to landscape and desktop*/
@media (min-width: 768px) and (max-width: 980px) {


}
/*Large desktop*/
@media (min-width: 1200px) {

}

@media(max-width: 980px){


	.metro{
		width:100%;
		/*margin:5px 5px 5px 5px;*/
	}

	.metro .tiles.tile-1
	{	
		width:48.7%;
		position:relative;
		margin-left: 1%;
	}

	.metro .main-page .column3-layout 
	{
		width:48%;
	}

	.metro .main-page .column3-layout:last-of-type 
	{
		width:97.7%;

	}

	.metro .main-page .row
	{
		margin-top: 5px;
	}
	.metro .tiles
	{
		box-sizing: border-box;
	}
		
	.metro .tiles.tile-2
	{	
		display:inline-block;
		width:100%;
		position:relative;
	}

	.metro .navigation-bar.rfet .user-logged 

	{
		position:relative;
		float:right !important;
		vertical-align: top;
		margin-right:1%;
	}

	.metro .tiles.tile-1:hover .tile-title .tile-title-line {
	    width: 350px;
	}

	.metro .tiles.tile-2:hover .tile-title .tile-title-line {
	    width: 350px;
	}

	.metro .tiles .tile-title{
		font-size:18px;
	}

	.metro .tiles .tile-number{

		margin-right:18px;
	}

	.metro .datatable .table-content{
		padding-top: 75px;
		margin-top: -73px !important;
		margin-left:0;
		width:850px;
		overflow-x:scroll !important; 
	}

	.detail-label {
		width:24.5%;
	}

	.panel-group {
		width:100% !important;
	}

	.panel-body {

		width:980px !important;
		overflow-x:scroll !important;
	}

	.panel-collapse {
		overflow:scroll !important;
	}

	.hideResponsive {
		display:none !important;
	}

	.visibleResponsive {
		visibility:hidden !important;
	}

	.rightPartTwo {
		width:20%;
	}
	
	/*.metro .pagination{
		width:80%;
	}*/
}
@media (max-width:880px){
	
	/* used for signups/final list table*/
	.table-scrollable-w900{
		min-width:900px !important;
		overflow-x:scroll !important;
	}

	.respPadLeft {
		padding-left: 1% !important;
		padding-top: 1%;
	}
}

@media (max-width:815px){
	
	/* used for signups/final list table*/
	.table-scrollable-w800{
		min-width:900px !important;
		overflow-x:scroll !important;
	}
}

@media (max-width: 800px) {

	.metro button.primary.dark{

		/*margin-top: 58px;
		margin-left: -420px;
		position:relative;*/
		width:50%;

	}

	.metro a.button.primary.yellowBtnSignups {

	/*	margin-top: 58px;
		margin-left: -580px;
		position:relative;
*/		width:100% !important;

	}

	.button-bar {
		width:90%;
		margin-left:10%;
	}

	.button-bar .button.right {

		width:33%;
	}

	.signupsList {
		width:1000px !important;
	}

	.table-scrollable{
		width:800px !important;
		overflow-x:scroll !important;
	}

	.select2-choice{
		width:10px !important;
	}

	.select2-container {
		width:50% !important;
	}


	.clubsEditResponsive{
		display:inline-block !important;
	}

	.tournamentIndexResponsive {
		width:1070px !important;
		overflow-x:scroll !important;
	}

	.tournamentIndexResponsiveScroll {
		width:100%;
		overflow-x:scroll !important;
	}

	.tourDrawIndRes {
		padding-left:1% !important;
		float:left;
	}
}


/*medju dimenzija */
@media (min-width: 768px) and (max-width: 991px) {

   
}


/* Media default */
/*Landscape phones*/
@media (max-width: 640px) {

	.metro .tiles.tile-1:hover .tile-title .tile-title-line {
	    width: 80px;
	}

	.metro .tiles.tile-2:hover .tile-title .tile-title-line {
	    width: 200px;
	}

}


@media (max-width: 768px) { 

	.metro .tiles.tile-1 {
		width:48.7%;
		position:relative;
		margin-left: 1%;
	}

	.metro .main-page .column3-layout:last-of-type {
		width:97.7%;
	}

	.metro .tiles.tile-1:first-of-type {
		margin-left:0;
	}

	.metro .tiles.tile-1:hover .tile-title .tile-title-line {
	    width: 100px;
	}

	.metro .tiles.tile-2:hover .tile-title .tile-title-line {
	    width: 250px;
	}

	.imgResp {
		margin-left:20%;
		margin-top:-40%;
	}

	.table-scrollable-w768{
		min-width:900px !important;
		overflow-x:scroll !important;
	}

	.player-align.table-content.players.clubResponsive {
		width:100% !important;
		overflow-x:scroll !important;
	}
	.fullWidth {
		width:100% !important;
	}
	.pagination > ul li span {
		width:20px !important;
	}

	.live_score_box{
	   width:49% !important;
	   display: inline-block;
	   padding-top:30px;
	}

	.livescore_box_text {
	    font-size:14px !important;
	    /*font-weight:bold !important;*/
	}
}

@media (max-width: 670px) {
	
	.imgResp {
		margin-left:40%;
		margin-top:-50%;
	}

	.place-right.listResponsive {
		float:left !important;
		margin-top:10% !important;
		/*margin-right:30% !important;*/
	}

	.detail-label{
		width:22%;
	}

	.detail-label.data {
		width:22%;
	}

}

@media (max-width: 600px) {

	.metro .tiles.tile-1 
	{
		width:48.7%;
		position:relative;
		margin-left: 1%;
	}
	.metro .main-page .column3-layout
	{
		width:95%;
	}

	.metro .main-page .column3-layout:last-of-type 
	{
		width:95%;
	}

	.place-right.listResponsive {
		float:left !important;
		margin-top:20% !important;
		/*margin-right:30% !important;*/
	}

	.rightPartTwo {
		width:17%;
	}

	.leftPartOne, .leftPartTwo, .rightPartOne, .rightPartTwo{
		font-size:12px;

	}
	.playerImage {
		padding:0 2px 0 2px;
	}

	.imgResp {
		margin-left:30%;
		margin-top:-50%;
	}

	.livescore_box_text {
	    font-size:12px !important;
	    /*font-weight:bold !important;*/
	}

	.line_chart {
		margin-left:5%;
		margin-top:30%;
		position: relative;
	}
}

@media (max-width:450px){

	.metro button.back-yellow, .metro button.back-yellow:active {

		width: 150px !important;
	}
	.metro button.primary.big.dark {
		
		width: 150px !important;
	}

	.fc-state-default.fc-corner-left {

		margin-left:0;
	}

	.place-right.listResponsive {
		float:left !important;
		margin-top:20% !important;
		margin-right:50% !important;
		position:absolute;
	}

	.player-fined {
		padding-left:20px !important;
		padding-top:30px !important;
	}
}

@media (max-width:430px){


	.metro .tiles .tile-title{
		font-size:15px;
		overflow:hidden;
	}

	.metro .tiles .tile-number{

		margin-right:3px;
	}

	.metro .tiles .tile-text{

		font-size:15px;
		overflow:hidden;
	}

	.login-top{

		max-width:100%;
		height:auto;
		/*padding:5px 5px 5px 5px;*/
	}

	.grid.login .login-button{

		float:none;
	}
	.metro .input-control {

		width:100%;
		/*height:auto;*/
	}

	.grid.login fieldset {
	   
	    width: 100%;
	}

	.metro .input-control.text {

		 width: 100%;
	}

	.metro .input-control.password{
		 width: 100%;
	}

		.metro .pagination > ul {

		padding:0 5% 0 5%;
	}

}

@media (max-width: 340px) {

	.metro button.back-yellow, .metro button.back-yellow:active {

		width: 120px !important;
	}
	.metro button.primary.big.dark {
		
		width: 120px !important;
	}

	.player-fined {
		padding-left:20px !important;
		padding-top:40px !important;
	}

}


/*portrait phone*/
@media (max-width: 320px) { 


	.metro .main-page .column3-layout
	{
		width:95%;
	}

	.metro .main-page .column3-layout:last-of-type
	{
		width:95%;
	}

	.metro .tiles .tile-title{
		font-size:15px;
		overflow:hidden;
	}

	.metro .tiles .tile-number{

		margin-right:3px;
	}

	.metro .navigation-bar.rfet .user-logged {
		/*position:fixed;*/
		float:right !important;
		/*vertical-align: top;*/
		margin-right:1%;
		width:55%;
	}

	.metro .dropdown-toggle:after {
		display:none;
	}

}





