
body, html, .metro {
    height: 100%;
}

body.loginpage {
    background: #1E242B;
}

body {
    color: white;
    background: url('images/Background01.png') no-repeat center center fixed #1E242B;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.grid {

    background: transparent;

}

.center-text {
    text-align: center;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1200;
    background: rgba(0, 0, 0, 0.6);
}

a, label, h1, h2, h3, h4, h5, h6 {
    color: #FFC627;
}

:focus {
    outline: 0 !important;
}

.metro div, .metro span, .metro p {
    font-family: 'Open Sans', sans-serif;
}

.metro .link-underline {
    text-decoration: underline;
}

.metro h3 {
    color: #FFC627;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.metro .input-control.select select, .metro .input-control.textarea select {
    color: #FFC627;
}

.metro .input-control.select {
    overflow: hidden;
    background: none;
    width: 100%;
}

.metro .input-control.text input,
.metro .input-control.password input,
.metro .input-control.file input,
.metro .input-control.email input,
.metro .input-control.tel input,
.metro .input-control.number input {

    color: #FFC627;
}

.metro .input-control.text input::-webkit-input-placeholder,
.metro .input-control.password input::-webkit-input-placeholder,
.metro .input-control.file input::-webkit-input-placeholder,
.metro .input-control.email input::-webkit-input-placeholder,
.metro .input-control.tel input::-webkit-input-placeholder,
.metro .input-control.number input::-webkit-input-placeholder {
    color: #FFC627;
}

.metro .input-control.text input,
.metro .input-control.password input,
.metro .input-control.file input,
.metro .input-control.email input,
.metro .input-control.tel input,
.metro .input-control.number input {
    color: #FFC627;
}

.metro .input-control.select select,
.metro .input-control.textarea select,
.metro .input-control.select textarea,
.metro .input-control.textarea textarea {
    color: #FFC627;
    font-family: inherit;
    font-size: 12px;
}

.metro .input-control.textarea textarea:focus {
    border-color: #30373C;
}

.metro .datatable table .transparent {
    background: transparent !important;
}

.metro .input-control.text input:disabled,
.metro .input-control.password input:disabled,
.metro .fg-white.file input:disabled,
.metro .input-control.email input:disabled,
.metro .input-control.tel input:disabled,
.metro .input-control.number input:disabled {
    color: #808080;
    cursor: not-allowed;
}

/* =========================================== Notify =======================================================*/

.metro.notify-container {
    position: fixed;
    right: 0;
    text-outline: 0;
    right: 10px;
    z-index: 10;
    width: 500px;
    height: 30%;

}

.metro.notify-container:after {
    position: absolute;
    z-index: -1;
}

.history-spinner {
    left: 3% !important;
    top: 4% !important;
}

.history-spinner .spinner-icon {
    width: 20px !important;
    height: 20px !important;
}

/* ===========================================End Notify =======================================================*/

/* =========================================== Colors =======================================================*/
.red-color,
.red-color:hover,
.red-color:active {
    color: #C33A32 !important;
}

.yellow-color,
.yellow-color:hover,
.yellow-color:active {
    color: #FFC627 !important;
}

.blue-color,
.blue-color:hover,
.blue-color:active {
    color: #0032A0 !important;
}

.green-color,
.green-color:hover,
.green-color:active {
    color: #009578 !important;
}

.pink-color,
.pink-color:hover,
.pink-color:active {
    color: #EF6EBA !important;
}

.black-color,
.black-color:hover,
.black-color:active {
    color: #1E242B !important;
}

.dark-color,
.dark-color:hover,
.dark-color:active {
    color: #141A1F !important;
}

/*---------------------------------------------------------*/

.red-col-bg,
.red-col-bg:hover,
.red-col-bg:active {
    background-color: #C33A32 !important;
}

.yellow-col-bg,
.yellow-col-bg:hover,
.yellow-col-bg:active {
    background-color: #FFC627 !important;
}

.blue-col-bg,
.blue-col-bg:hover,
.blue-col-bg:active {
    background-color: #0032A0 !important;
}

.green-col-bg,
.green-col-bg:hover,
.green-col-bg:active {
    background-color: #009578 !important;
}

.pink-col-bg,
.pink-col-bg:hover,
.pink-col-bg:active {
    background-color: #EF6EBA !important;
}

.black-col-bg,
.black-col-bg:hover,
.black-col-bg:active {
    background-color: #1E242B !important;
}

.dark-col-bg,
.dark-col-bg:hover,
.dark-col-bg:active {
    background-color: #141A1F !important;
}

.no-col-bg,
.no-col-bg:hover,
.no-col-bg:active {
    background-color: transparent !important;
}

/* =========================================== End Colors =======================================================*/
.grid.login {
    width: 100%;
    margin: 0 auto 0 auto;
}

.grid.login fieldset {
    margin: 10px auto 0 auto;
    width: 400px;
}

.grid.login .login-button {
    display: inline-block;
    float: right;
}

input:-webkit-autofill {
    color: #fff !important;
}

.metro .dropdown-toggle:after {
    margin-left: 0;
}

.metro .dropdown-toggle:after

/*======== Reverse ==============*/

  .reverse-gap-top50 {
    margin-top: -50px !important;
}

.reverse-gap-top30 {
    margin-top: -30px !important;
}

/* Borders */
.bt {
    border-top: 1px solid #ddd;
}

.br {
    border-right: 1px solid #333 !important;
}

.bl {
    border-left: 1px solid #ddd;
}

.bAll {
    border: 1px solid #ddd;
}

.collapsing, .collapse {
    overflow: hidden;
}

.transparent {
    background: transparent !important;
}

.bold {
    font-weight: bold;
}

::-webkit-input-placeholder {
    color: #FFC627;
}

:-moz-placeholder {
    color: #FFC627;
}

::-moz-placeholder {
    color: #FFC627;
}

:-ms-input-placeholder {
    color: #FFC627;
}

.text-left {
    text-align: left !important;
    padding-left: 0;
}

.text-right {
    text-align: right !important;
    padding-right: 0;
}

.player-align {
    margin-top: -125px !important;
    padding-top: 0;
}

/* ===================================================== Helper css classes end ======================================== */

/* ===================================================== Buttons ===================================================== */
.metro button.primary {
    color: #FFC627 !important;
    background: url("icons/button_arrow_yellow.png") 90% center #30373C no-repeat !important;
}

.metro a.button.primary.bigger.next {
    background-color: #FFC627 !important;
    width: 220px;
    display: inline-block;
    float: right;
    color: #30373C !important;
    background: url("icons/button_arrow_black.png") 90% center #FFC627 no-repeat !important;
}

.metro button.primary.big.next {
    background-color: #FFC627 !important;
    width: 160px;
    display: inline-block;
    float: left;
    color: #30373C !important;
    padding-left: 0;
    padding-top: 17px;
    background: url("icons/button_arrow_black.png") 90% center #FFC627 no-repeat !important;
}

.metro button.primary.dark,
.metro a.button.primary.dark {
    font-size: 12px;
    color: #FFC627 !important;
    width: 160px !important;
}

.metro button.primary.big.dark,
.metro a.button.primary.big.dark {
    font-size: 12px;
    color: #FFC627 !important;
    width: 200px !important;
}

.metro a.button.yellow.middle.back {
    background: url("icons/button_arrow_black_back.png") 10% center #FFC627 no-repeat !important;
    color: #30373C !important;
    padding: 17px 20px 0 20px;
    height: 51px;
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
    width: 160px;
    float: right;
}

.metro a.button.primary {
    background: url("icons/button_arrow_yellow.png") 90% center #30373C no-repeat !important;
    color: #FFC627 !important;
    padding: 17px 20px 0 20px;
    height: 51px;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    width: 75px;
}

.metro a.button.primary:active {
    /*background: url("icons/button_arrow_yellow.png") 90% center #30373C no-repeat !important;*/
    color: #FFC627 !important;
    /*padding: 17px 20px 0 20px;*/
    height: 51px;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    width: 75px;
}

.metro a.button.primary.big.next {
    background-color: #FFC627 !important;
    width: 160px;
    margin-right: 0px !important;
    padding-right: 10px;
    padding-left: 10px;
}

.metro a.button.primary.big.back {
    background-color: #FFC627 !important;
}

.metro a.button.primary {
    color: #FFC627 !important;
}

.metro .button.default {
    background-color: #009578;
}

.metro .back-in-pagination a.button.primary.big.back {
    width: 160px;
}

.metro .button.large, .metro button.large {
    text-align: left;
    font-size: 12px;
    color: #FFC627;
    width: 200px !important;
}

.metro .button.medium {
    text-align: left;
    font-size: 12px;
    color: #FFC627;
    width: 160px !important;
}

.btn-next-tournament {
    margin-top: -60px;
    width: 200px;
}

/*____________________________________________________________
*/
.metro .button {
    color: #141A1F;
    height: 51px;
    text-align: center;
    padding: 16px 12px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 11px;
}

.metro a.button:hover {
    color: #30373C;
}

.metro a.button:active {
    color: #30373C !important;
}

.metro .button.medium,
.metro .button.medium:hover,
.metro .button.medium:active {
    width: 160px;
}

.metro .button.big,
.metro .button.big:hover,
.metro .button.big:active {
    width: 200px;
}

.metro .button.bigger {
    width: 220px;
}

.metro .button.extra,
.metro .button.extra:hover,
.metro .button.extra:active {
    width: 400px;
}

.metro .button.left {
    float: left;
}

.metro .button.right {
    float: right;
}

.metro .button.next-black-arrow {
    background: url("icons/button_arrow_black.png") 90% center no-repeat;
    background-color: #FFC627 !important;
    text-align: left;
}

.metro .button.back-black-arrow {
    background: url("icons/button_arrow_black_back.png") 10% center no-repeat;
    text-align: left;
}

.metro .button.next-yellow-arrow {
    background: url("icons/button_arrow_yellow.png") 90% center no-repeat;
    text-align: left;
}

.metro .button.back-yellow-arrow {
    background: url("icons/button_arrow_yellow_back.png") 10% center #FFC627 no-repeat;
    text-align: left;
}

.metro .button.primary {
    color: #30373C !important;
    background-color: #009578 !important;
    /*background: url("icons/button_arrow_black.png") 90% center no-repeat;*/
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #30373C;
    background-color: #009578;

}

/*============== Active buttons =================*/

.metro .button.bigger.yellow-col-bg:active,
.metro .button.bigger.yellow-col-bg:focus {
    background-color: #FFC627 !important;
    color: #30373C;
}

.metro .button.big.dark-col-bg:active,
.metro .button.big.dark-col-bg:focus {
    background: url("icons/button_arrow_yellow.png") 90% center no-repeat;
    background-color: #141A1F !important;
    color: #FFC627 !important;
}

.metro .big.yellow-color.no-col-bg:active {
    color: #FFC627 !important;
    background-color: transparent !important;
}

/*============== End Active buttons =================*/

.metro .button.d-small,
.metro .button.d-small:hover,
.metro .button.d-small:active {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #30373C;
    background-color: #FFC627 !important;
    width: 55px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 11px;
    position: relative;
    overflow: hidden;
}

.not-approved-label {
    position: absolute;
    top: 7px;
    right: -9px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: #fa0000 !important;
    font-weight: 700 !important;
    opacity: 0.8;
    line-height: 1.1;
    font-size: 9px;
    background: #FFC627;
}

.metro .button.small, .metro button.small {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #30373C;
    width: 51px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 11px;
}

.metro .pagination > ul li.active a {
    background-color: #FFC627;
}

.metro .pagination > ul li span {
    padding: 16px 0 0 0;
    text-align: center;
    vertical-align: middle !important;
    background-color: #141A1E;
    border: 1px transparent solid;
    color: #F7A700;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: block;
    float: left;
    margin-right: 1px;
    width: 51px;
    height: 51px;
}

.metro .button.master-back, .metro button.master-back {
    background: url("icons/back_arrow_main.png") 90% center no-repeat;
    float: right;
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: -85px;
    margin-top: 70px;
    background-color: transparent !important;
}

.metro button.dropdown-toggle, .metro .button.dropdown-toggle {
    padding-right: 16px;
    border: 0;
    height: 51px;
    width: 94px;
    font-size: 11px;
    font-family: inherit;
    text-transform: uppercase;
}

/* ===================================================== End Buttons ===================================================== */

/* =========================================== Table Tournament =======================================================*/
/*.metro table {
    border-collapse: separate;
    border-spacing: 0 1em;
}*/
.metro table.tournament-table {
    color: #FFC627;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.tournament-table tbody tr > td {
    background-color: #30373C;
    padding-left: 20px;
}

.metro .table thead th, .metro .table thead td {
    height: 20px !important;
}

/* =========================================== End Table Tournament =======================================================*/

/* ===================================================== Players ===================================================== */
.players-info p {
    color: #fff;
}

/* ===================================================== Players end ===================================================== */

/* ===================================================== Profile ===================================================== */
.profile-info p {
    color: #fff;
}

/* ===================================================== Profile end ===================================================== */

/* ===================================================== Messages ===================================================== */
.message-actions {
    margin: 0 !important;
    padding-top: 20px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: none;
    background: transparent;
}

.message-actions a {
    font-size: 14px;
}

.message-actions li {
    padding: 0px 0px;
    list-style: none outside none;
    margin: 0;
}

.message-actions li a {
    color: #FFC627;
    line-height: 1;
}

.message-actions li a:hover, .message-actions li a.active {
    color: #FFC627;
}

.message-show p {
    color: #FFC627;
    background-color: #30373C;
    border: 1px #30373C solid;
    font-size: 12px;
    background: #30373C;
    width: 100%;
    height: 100%;
    padding: 12px 18px 12px 18px;
    margin: 0 0 3pt;
}

.message-to {
    color: #FFC627 !important;
    background-color: #30373C;
    border: 1px #30373C solid;
    font-size: 12px !important;
    font-weight: normal !important;
    background: #30373C;
    width: 100%;
    height: 100%;
    padding: 12px 18px 12px 18px !important;
}

.metro table.message-table {
    color: #FFC627;
    border-collapse: separate;
    border-spacing: 0 5px;
    font-size: 14px;
}

.metro table.message-table th, .metro table.message-table td {
    font-size: 14px;
}

.message-table tbody tr > td {
    background-color: #30373C;
    padding-left: 20px;
}

.message-table tbody tr td a,
.message-table tbody tr td a.active {
    display: block;
    width: 100%;
    /*height: 12px;
    padding-top: 16px;
    padding-bottom: 16px;*/
}

.message-table tbody tr:hover td a {
    color: #FFC627;
}

.message-table tbody tr.seen a {
    color: #808080;
}

.message-table .envelope {
    width: 20px;
    height: 22px;
    margin-left: 10px;
    display: block;
}

.message-table tbody tr .envelope {
    background: url('icons/unread.png') 0 6px no-repeat;
}

.message-table tbody tr.seen .envelope {
    background: url('icons/read.png') no-repeat;
}

.message-table tbody tr a {
    color: #FFC627;
}

.envelope-width {
    width: 50px;
}

/* ===================================================== Messages end ===================================================== */

/* ===================================================== Notifications ===================================================== */
.sticky {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 300px;
    height: auto;
}

/* ===================================================== Notifications end ===================================================== */
.metro {
    margin: 0 auto;
    width: 1200px;
}

.metro.fullwidth {
    width: 100%;
}

.metro.fullwidth #all-content, .metro.fullwidth #all-content .container, .metro.fullwidth #all-content .container .grid.login, .metro.fullwidth #all-content .container .grid.login .login-middle {
    height: 100%;
}

/*.metro.fullwidth #all-content,*/
/*.metro.fullwidth #all-content .container,*/
/*.metro.fullwidth #all-content .container .grid.login,*/
/*.metro.fullwidth #all-content .container .grid.login .login-middle*/
/*{*/
/*height: 100%;*/
/*}*/
/*.metro.fullwidth #all-content .container .grid.login .login-middle .login-top,*/
/*.metro.fullwidth #all-content .container .grid.login .login-middle form*/
/*{*/
/*height: 50%;*/
/*}*/

.metro .navigation-bar .page-title {
    font-size: 14px;
    color: #C33A32;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.page-title a {
    color: #C33A32;
}

.page-title a:hover, .page-title a:focus {
    color: #fff;
}

.metro .navigation-bar.rfet {
    background: none;
    font-family: 'Roboto', sans-serif;
}

.metro .navigation-bar.rfet .user-logged {
    background: #141A1F;
    width: 230px;
    color: #FFC627;
}

.metro .navigation-bar.rfet .user-logged:hover {
    background: #141A1F;
}

.metro .main-page {
    margin-top: 1%;
}

.metro .main-page .row {
    margin-top: 10px;
}

.metro .main-page .column-title.cl-red {
    border-right: 1px solid #C33A32;
}

.metro .main-page .column3-layout .column-title,
.metro .main-page .column2-layout .column-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #FFC627;
    display: block;
    font-size: 14px;
    height: 50px;
    padding-right: 20px;
    padding-top: 15px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.metro .main-page .column3-layout {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 32.5%;
}

.metro .main-page .column2-layout {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 50%;
}

.metro .main-page .column2-layout:first-of-type,
.metro .main-page .column3-layout:first-of-type, {
    margin-left: 0;
}

.metro .user-logged, .metro .page-title {
    text-transform: uppercase;
}

.metro .tiles {
    background: #1E242B;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.metro .transparent-tile {
    background: none;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 170px;
    position: relative;
}

.metro .transparent-tile .back-button {
    position: absolute;
    left: 15%;
    background: url("icons/back_arrow_main.png") 0 center no-repeat;
    height: 60px;
    background-color: transparent !important;
    top: 50%;
    margin-top: -30px;
    color: #FFC627;
    font-size: 16px;
    text-indent: 60px;
    line-height: 3.5;
}

.metro .tiles.tile-2 {
    width: 100%;
    border: 2px solid;
    height: 170px;
}

.metro .tiles .tile-icon {
    margin: 18px 18px 0 0;
    height: 100px;
    display: block;
}

.metro .tiles.double-line-title .tile-icon {
    height: 75px;
}

.metro .tiles .tile-text {
    float: left;
    height: 100px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 300;
}

.metro .tiles .tile-text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 13px;
}

.metro .tiles .tile-title {
    font-size: 18px;
    color: white;
    font-weight: 100;
    margin-left: 20px;
    position: absolute;
}

.metro .tiles .tile-title a {
    color: white;
}

.metro .tiles .tile-title .tile-title-line {
    margin-top: 5px;
    width: 75px;
    border-bottom: 2px solid;
    display: block;
    -webkit-backface-visibility: hidden;
    -webkit-transition: width 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: width 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: width 400ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: width 400ms cubic-bezier(0.42, 0, 0.58, 1);
}

.metro .tiles.tile-1:hover .tile-title .tile-title-line {
    width: 145px;
}

.metro .tiles.tile-2:hover .tile-title .tile-title-line {
    width: 350px;
}

.metro .tiles .tile-number {
    float: right;
    font-weight: bold;
    font-size: 18px;
    margin: 0 18px 0 0;
    color: #fff;
}

.metro .tiles.tile-1 {
    width: 188px;
    margin-left: 10px;
    border: 2px solid;
    height: 170px;
}

.metro .tiles.tile-1:first-of-type {
    margin-left: 0;
}

.metro .tiles.tile-red, .metro .tiles.tile-red .tile-title-line {
    border-color: #C33A32;
}

.metro .tiles.tile-red .tile-text, .metro .tiles.tile-red .tile-text p, .metro .tiles.tile-red .tile-text p a, .metro .tiles.tile-red.filled .tile-number, .metro .tiles.tile-red.filled .tile-title {
    color: #C33A32;
}

.metro .tiles.tile-green, .metro .tiles.tile-green .tile-title-line {
    border-color: #009578;
    position: relative;
}

.metro .tiles.tile-green .tile-text,
.metro .tiles.tile-green .tile-text p,
.metro .tiles.tile-green.filled .tile-number,
.metro .tiles.tile-green.filled .tile-title,
.metro .tiles.tile-green .tournament-name,
.metro .tiles.tile-green .player1,
.metro .tiles.tile-green .player2,
.metro .tiles.tile-green .upcoming-tournaments-table td a {
    color: #009578;
}

.metro .tiles.tile-blue, .metro .tiles.tile-blue .tile-title-line {
    border-color: #0032A0;
}

.metro .tiles.tile-blue .tile-text, .metro .tiles.tile-blue .tile-text p, .metro .tiles.tile-blue.filled .tile-number, .metro .tiles.tile-blue.filled .tile-title {
    color: #0032A0;
}

.metro .tiles.tile-yellow, .metro .tiles.tile-yellow .tile-title-line {
    border-color: #FFC627;
    position: relative;
}

.metro .tiles.tile-yellow .tile-text, .metro .tiles.tile-yellow .tile-text p, .metro .tiles.tile-yellow.filled .tile-number, .metro .tiles.tile-yellow.filled .tile-title, .metro .tiles.tile-yellow .upcoming-tournaments-table td a {
    color: #FFC627;
}

.metro .tiles.tile-yellow .tile-icon .tournament-icon {
    float: right;
    background: url("icons/tournament.png") 0px 0 no-repeat;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-green .tile-icon .alert-icon {
    background: url("icons/alerts.png") no-repeat 0px 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-yellow .tile-icon .alert-icon {
    background: url("icons/alerts-yellow.png") no-repeat 0px 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-red .tile-icon .alert-icon {
    background: url("icons/alerts-red.png") no-repeat 0px 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-blue .tile-icon .contact-icon {
    background: url("icons/contacts.png") no-repeat scroll 0px 8px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-red .tile-icon .orderofplay-icon {
    background: url("icons/orderofplay.png") no-repeat scroll 0px 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-yellow .tile-icon .orderofplay-icon {
    background: url("icons/orderofplay_yellow.png") no-repeat scroll 0px 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-green .tile-icon .orderofplay-icon {
    background: url("icons/orderofplay_green.png") no-repeat scroll 0px 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-red .tile-icon .calendar-icon {
    background: url("icons/calendar.png") no-repeat scroll 0 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-green .tile-icon .draws-icon {
    background: url("icons/draws.png") no-repeat 0px 0px;
    float: left;
    height: 32px;
    width: 32px;
    margin-left: 20px;
    position: absolute;
}

.metro .tiles.tile-red .tile-icon .draws-icon {
    background: url("icons/draws_red.png") no-repeat 0px 0px;
    float: left;
    height: 32px;
    width: 32px;
    margin-left: 20px;
    position: absolute;
}

.metro .tiles.tile-yellow .tile-icon .draws-icon {
    background: url("icons/draws_yellow.png") no-repeat 0px 0px;
    float: left;
    height: 32px;
    width: 32px;
    margin-left: 20px;
    position: absolute;
}

.metro .tiles.tile-green .tile-icon .draws-icon.referee {
    position: static;
    float: right;
}

.metro .tiles.tile-red .tile-icon .paypal-icon {
    background: url("icons/pp_logo_red.png") no-repeat scroll 0 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-red .tile-icon .text-icon {
    float: right;
    font-size: 20px;
    color: #c33a32;
    letter-spacing: 3px;
}

.metro .tiles.tile-yellow .tile-icon .court-icon {
    background: url("icons/court.png") no-repeat scroll 0 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-green .tile-icon .court-icon {
    background: url("icons/court_green.png") no-repeat scroll 0 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-red .tile-icon .court-icon {
    background: url("icons/court_red.png") no-repeat scroll 0 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-yellow .tile-icon .player-icon {
    background: url("icons/players.png") no-repeat 0px -5px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-red .tile-icon .player-icon {
    background: url("icons/players_red.png") no-repeat 0px -5px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-green .tile-icon .signup-icon {
    background: url("icons/signups.png") no-repeat 0px 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-red .tile-icon .signup-icon {
    background: url("icons/signups_red.png") no-repeat 0px 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-yellow .tile-icon .signup-icon {
    background: url("icons/signups_yellow.png") no-repeat 0px 0px;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles .tile-icon .livescore-icon {
    float: right;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 20px;
    z-index: 2000;
}

.metro .tiles.tile-yellow .tile-icon .livescore-icon {
    background: url("icons/livescore.png") no-repeat 0px -4px;
}

.metro .tiles.tile-green .tile-icon .livescore-icon {
    background: url("icons/livescore_green.png") no-repeat 0px -4px;

}

.metro .tiles.tile-yellow .tile-icon .ranking-icon {
    background: url("icons/ranking.png") no-repeat 0px 0;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-red .tile-icon .ranking-icon {
    background: url("icons/ranking_red.png") no-repeat 0px 0;
    float: right;
    height: 32px;
    width: 32px;
}

.metro .tiles.tile-yellow .tile-icon .regions-icon {
    float: right;
    background: url("icons/regions.png") no-repeat 0 0;
    width: 32px;
    height: 32px;
}

.metro .tiles.tile-yellow .tile-icon .referee-icon {
    float: right;
    background: url("icons/referee_yellow.png") no-repeat 0 0;
    width: 32px;
    height: 32px;
}

.metro .tiles.tile-yellow .tile-icon .club-icon {
    float: right;
    background: url("icons/clubs.png") no-repeat 0px 0;
    width: 32px;
    height: 32px;
}

.pull-icon-right {
    float: right !important;
}

.pull-icon-left {
    margin-left: 20px !important;
    float: left !important;
}

.metro .tiles.filled.filled-gray1 {
    border-color: #272E33;
    background: #272E33;
}

.metro .tiles.filled.filled-gray2 {
    border-color: #3A4146;
    background: #3A4146;
}

.metro .tiles.filled.filled-gray3 {
    border-color: #454B4F;
    background: #454B4F;
}

.metro .tiles.filled-gray4 {
    background: #6F7478;
}

.metro .tiles.filled.filled-gray4 {
    border-color: #6F7478;
    background: #6F7478;
}

.metro .tiles .table-livescore {
    width: 99%;
}

.metro .tiles table.upcoming-tournaments-table, .metro .tiles table.table-livescore.result {
    background: none;
    float: left;
}

.metro .tiles table.upcoming-tournaments-table .week {
    width: 230px;
}

.metro .tiles table.upcoming-tournaments-table .noplayers {
    width: 60px;
}

.metro .tiles table.upcoming-tournaments-table .referees, .metro .tiles table.upcoming-tournaments-table .noreferees {
    width: 78px;
}

.metro .tiles table.upcoming-tournaments-table .st-green {
    background: url("icons/mainPageSprite.png") no-repeat -123px -43px;
    height: 4px;
    width: 27px;
    display: block;
}

.metro .tiles table.upcoming-tournaments-table .st-red {
    background: url("icons/mainPageSprite.png") no-repeat -123px -53px;
    height: 4px;
    width: 27px;
    display: block;
}

.metro .tiles .table-livescore .player1, .metro .tiles table.table-livescore .player2 {
    width: 110px;
    display: inline;
}

.metro .tiles .table-livescore .vs {
    width: 30px;
    display: inline;
}

.metro .login-top {
    width: 100%;
    height: 410px;
}

.metro .login-top {
    width: 400px;
    height: 190px;

    background: white;
    color: #1E242B;
    margin: 150px auto 0 auto;
}

.metro .upper {
    text-transform: uppercase;
}

.metro .login-top .login-line, .metro .datatable .table-title .line {
    width: 75px;
    border-color: #1E242B;
    border-bottom: 1px solid;
    display: block;
    margin-top: 10px;
}

.metro .datatable .table-title .line {
    border-color: #FFC627;
}

.metro .login-top div {
    position: relative;
    width: 400px;
    height: 100%;
    margin: 0 auto;
    /*vertical-align: bottom;*/
    /*display: inline;*/
}

.metro .login-top div img {
    float: right;
    margin: 60px 20px 0 0;
}

.metro .datatable .table-title {
    vertical-align: top;
    display: inline-block;
    color: #FFC627;
}

.metro .datatable .table-title.players {
    width: 160px;
    margin-right: 20px;
    padding-top: 18px;
}

.metro .datatable .table-title h3 {
    color: #FFC627;
    font-size: 18px;
    font-weight: normal;
    height: 23px;
}

.metro .datatable .table-content {
    vertical-align: top;
    display: inline-block;
    /*padding-top: 35px;*/
    margin-top: -260px !important;
    margin-left: 180px;
}

.metro .datatable .table-content.players {
    width: auto;
}

.metro .datatable .results-number {
    margin-top: 50px;
}

.metro .datatable .results-number select {
    color: #FFC627;
    /*background: ;*/
}

.metro .datatable table thead th {
    vertical-align: bottom;
    text-indent: 0;
    padding-left: 0;
    height: 112px;
    padding-right: 20px;
}

.metro .datatable table thead th .input-control.text input {
    color: #85888C;
}

.metro .datatable table thead th .input-control.text input::-moz-placeholder {
    color: #85888C;
}

.metro .datatable table thead th .input-control.text input::-webkit-input-placeholder {
    color: #85888C;
}

.metro .datatable table thead th.full {
    padding-right: 0;
}

.metro .datatable table thead th.last-col {
    padding-left: 10px;
    padding-right: 0;
    width: 165px;
}

.metro .datatable table thead th span.options {
    color: #FFC627;
    text-transform: uppercase;
    font-size: 12px;
}

.metro .datatable table thead th .options-control {
    height: 51px;
}

.metro .datatable table .transparent {
    background: #1E242B;
}

.metro .datatable table .transparent a {
    background-color: transparent !important;
}

.metro .datatable table thead th a {
    display: block;
    color: #FFC627;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    /*height: 35px;*/
    padding-top: 8px;
    padding-bottom: 8px;
}

.marginTop-50 {
    margin-top: -60px;
}

.marginTop-40 {
    margin-top: -50px;
}

.marginLeft-300 {
    margin-left: -300px;
}

.save-button-margin-top {
    margin-top: -6rem !important;
}

.back-button-margin {
    margin-left: 0 !important;
    margin-top: -8rem !important;
}

.ang-select {
    color: #FFC627;
}

/* select2 */
.select2-container {
    min-width: 100%;
}

.form-control.select2-container.select2-dropdown-open {
    border: 1px solid #30373C;
}

.select2-container .select2-choice > .select2-chosen {
    color: #FFC627;
    padding: 12px 8px;
    /*width: 89.4rem;*/
    width: 100%;
    height: 51px;
    background: url("icons/select_arrows_yellow.png") right center no-repeat #30373C;
}

.select2-container .select2-choice {
    display: block;
    min-width: 100%;
    height: 51px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    border: 1px #30373C solid;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    border-radius: 0px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #30373C;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #30373C), color-stop(0.5, #30373C));
    background-image: -webkit-linear-gradient(center bottom, #30373C 0%, #30373C 50%);
    background-image: -moz-linear-gradient(center bottom, #30373C 0%, #30373C 50%);
    background-image: -o-linear-gradient(bottom, #30373C 0%, #30373C 50%);
    background-image: -ms-linear-gradient(top, #30373C 0%, #30373C 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30373C', endColorstr='#eeeeee', GradientType=0);
    background-image: linear-gradient(top, #30373C 0%, #30373C 50%);
}

.select2-results {
    color: #FFC627;
    background-color: #30373C;
    border-color: #30373C;
    padding: 0 0 0 0;
}

.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: none no-repeat 0 1px;
}

.select2-arrow {
    display: none !important;
}

.select2-drop-active {
    border: none;
}

.select2-drop {
    background: #30373C;
}

.select2-dropdown-open .select2-choice {
    box-shadow: 0 1px 0 #30373C inset;
}

.select2-results .select2-highlighted {
    background: #FFC627;
    color: #30373C;
}

.select2-search {
    padding-right: 0px;
    min-width: 100%;
    padding-left: 0;
}

.select2-search input {
    border: 1px solid #FFC627;
    background: #fff url('../js/thirdparty/select2/select2.png') no-repeat 100% -22px;
    background: url('../js/thirdparty/select2/select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #FFC627), color-stop(0.99, #FFC627));
    background: url('../js/thirdparty/select2/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #FFC627 85%, #FFC627 99%);
    background: url('../js/thirdparty/select2/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #FFC627 85%, #FFC627 99%);
    background: url('../js/thirdparty/select2/select2.png') no-repeat 100% -22px, linear-gradient(to bottom, #FFC627 85%, #FFC627 99%) 0 0;
}

.select2-results .select2-result-label {
    padding-left: 10px;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: #30373C;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: none;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    border-width: 1px;
    border-style: solid;
    border-right: 1px solid #30373C;
    border-color: transparent #30373C #30373C;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background-image: linear-gradient(to bottom, #30373C 0%, #30373C 50%);
}

/* =========================================================== End select2 =======================================================================*/

.line {
    width: 75px;
    border-color: #FFC627;
    border-bottom: 1px solid;
    display: block;
    /*margin-top: 10px;*/
}

.tournament {
    color: #FFC627;
    font-size: 18px;
    font-weight: normal;
    height: 23px;
}

.tournament h3 {
    font-size: 18px;
}

.tournament-first {
    width: 45%;
}

.tournament-second {
    padding-left: 25%;
    width: 100%;
    margin-top: -2.5%;
}

.metro .grid .tournament-second .row {
    margin-top: 0px;
}

.marginTop-10 {
    margin-top: -3.7%;
}

.third {
    width: 32%;
    float: left;
    display: inline-block;
    margin-left: 1%;

}

.row .full {
    width: 99%;
    margin-left: 1%;
}
.half {
    width: 49%;
    float: left;
    display: inline-block;
    margin-left: 1%;
}

.half.beforeimage {
    width: 35%;
}

.half.forimage {
    text-align: right;
    width: 12%;
}

.quarter {
    width: 96%;
}

.padd {
    margin-left: 0;
}

.tournament-second .form-control label {
    margin: 10px 0;
    font-size: 13px;
}

.tournament-first.table-title .tournament h5 {
    font-weight: normal;
}

/* ==================================================== Popup calendar ====================================================*/
.metro .dropdown-menu {
    min-width: 100%;
    border: 1px #30373C solid;
}

.metro .dropdown-menu li {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

.metro .dropdown-menu li:last-child {
    padding: 0;
    margin: 0;
    outline: none;
}

.metro ul .calendar, .metro ol .calendar {
    color: #FFC627;
    font-size: 16px;
    border: none;
}

.metro .calendar {
    background: #30373C;
}

.metro .calendar .calendar-header {
    background-color: #FFC627;
    color: #ffffff;
}

.metro .calendar button {
    padding-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.metro .calendar button:disabled {
    background-color: transparent !important;
    cursor: not-allowed !important;
}

.metro .calendar td, .metro .calendar th {
    padding-left: 5px;
    width: 1%;
}

.metro .calendar td {
    border: none;
}

.metro .calendar td button:disabled span {
    color: #888;
}

.metro .calendar td button span {
    color: #FFC627;
}

.metro .calendar td button span.text-muted {
    color: #222 !important;
}

.metro .calendar .calendar-header th {
    padding-top: 12px;
    padding-bottom: 12px;
}

.metro .calendar-space td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.metro .calendar .calendar-header thead tr {
    padding: 20px;
}

.metro .calendar .calendar-header:active, .metro .calendar .calendar-header:focus, .metro .calendar .calendar-header:target {
    color: #000000;
    background-color: #FFC627;
}

.metro .calendar button:active {
    background-color: transparent !important;
    color: #000000 !important;
}

.color-today {
    color: #009578 !important;
    background: transparent;
}

.metro .color-header-month {
    background: #FFC627 !important;
}

.padding-header-month {
    padding-bottom: 12px !important;
    padding-top: 12px !important;
}

.calendar-month {
    padding: 20px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.icon-left {
    background: url("icons/button_arrow_black_back.png") 10% center no-repeat;
    width: 6px;
    height: 10px;
    margin-left: 12px;
}

.icon-right {
    background: url("icons/button_arrow_black.png") no-repeat;
    width: 6px;
    height: 10px;
    padding-right: 24px;
}

/* End Popup calendar */
.btn-rfet {
    color: #000000;
    background-color: #FFC627;
}

.color-rfet {
    color: #FFC627;
}

.tournament-second .players-info {
    border: 2px solid #FFC627;
    padding: 30px;
}
.tournament-second .region-info,
.tournament-second .region-info td{
    padding-right: 5px;
    vertical-align: top;
}

/* ========================================================= Navigation ========================================================= */
.metro .navigation-bar .navigation-bar-content .element > a.dropdown-toggle:after,
.metro .navbar .navigation-bar-content .element > a.dropdown-toggle:after,
.metro .navigation-bar .navbar-content .element > a.dropdown-toggle:after,
.metro .navbar .navbar-content .element > a.dropdown-toggle:after {
    width: 100px;
    position: absolute;
    left: 185px;
}

.metro .navigation-bar .navigation-bar-content .element > .dropdown-menu.place-right, .metro .navbar .navigation-bar-content .element > .dropdown-menu.place-right, .metro .navigation-bar .navbar-content .element > .dropdown-menu.place-right, .metro .navbar .navbar-content .element > .dropdown-menu.place-right {
    background: #141A1F;
    margin-top: 20px;
    color: #FFC627;
    border-color: #141A1F;
    padding-top: 6px;
    padding-bottom: 6px;
    opacity: 0.90;
}

.metro .dropdown-menu li {
    border: none;
}

.metro .dropdown-menu li:hover {
    background-color: transparent;
    border: none;
}

.metro .dropdown-menu a {
    padding: 13px 5px !important;
    text-align: left;
}

.metro .dropdown-menu a:hover, .metro .dropdown-menu li.active a {
    background: #30373C;
    color: #FFC627;
}

/* ========================================================= End Navigation ========================================================= */

/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header,
    /* <th>, usually */
.fc-widget-content {
    /* <td>, usually */
    border: 2px solid #141A1F;
    background-color: #30373C;
}

.fc-state-highlight {
    color: #009578;
}

/* Header
------------------------------------------------------------------------*/
.fc-header-title h2 {
    color: #FFC627;
    font-size: 16px;
}

table.fc-border-separate {
    color: #FFC627;
}

/* Buttons
------------------------------------------------------------------------*/
.fc-state-default {
    background: #1E242B none;
    border-color: #1E242B;
    color: #009578;
    text-shadow: none;
    box-shadow: none;
    text-transform: uppercase;
}

.fc-state-default {
    box-shadow: none;
    border: none;
    background: transparent;
}

.fc-state-default.fc-corner-left {
    margin-left: 40px;
}

.fc-button-prev {
    background: url("icons/button_arrow_yellow.png") right center no-repeat transparent;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    box-shadow: none;
    border: none;
}

.fc-button-next {
    background: url("icons/button_arrow_yellow.png") right center no-repeat transparent;
    box-shadow: none;
    border: none;
}

.metro button.primary-back {
    font-size: 12px;
}

/* Global Event Styles
------------------------------------------------------------------------*/
.fc-event {
    border: 1px solid #009578;
    background-color: #009578;
    color: #141A1F;
    font-size: .85em;
    cursor: default;
}

.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end {
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start {
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.metro button.back-yellow, .metro button.back-yellow:active {
    font-size: 12px;
    color: #FFC627 !important;
    background-color: #141A1F !important;
    background: url("icons/button_arrow_yellow_back.png") 10% center no-repeat;
    height: 51px;
    width: 200px !important;
    text-align: right;
    text-transform: uppercase;
}

/* Reusable Separate-border Table
------------------------------------------------------------*/
.fc-border-separate tr.fc-last th {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #141A1F;
    font-weight: 200;
}

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/
.fc-grid .fc-day-number {
    float: right;
    padding-top: 3px;
    padding-right: 6px;
    font-size: 12px;
}

.fc-grid .fc-other-month .fc-day-number {
    /*color: #141A1F;*/
}

.fc-week .fc-first {
    height: 90px;
}

/* ========================================================= Calendar =========================================================*/

/* ========================================================= End Calendar =========================================================*/
.primary-color {
    color: #FFC627 !important;
}

.draw-column {
    width: 25%;
    padding: 10px;
    float: left;
}

.signup-form-holder {
    width: 75%;
    padding: 10px;
    float: left;
}

/*===================================================== Tournament Details ================================================== */

.details-header {
    color: #30373C;
    background-color: #FFC627;
    padding: 14px 12px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.detail-label {
    color: #FFC627;
    background-color: #141A1F;
    width: 24.668%;
    padding: 14px 12px;
    font-size: 11px;
    display: inline-block;
    text-align: left;
    height: 43px;
    margin-top: 20px;
}

.detail-draw-label {
    color: #FFC627;
    background-color: #141A1F;
    width: 24.668%;
    padding: 14px 12px;
    font-size: 12px;
    text-align: justify;
    height: 43px;
    margin-bottom: 10px;
    display: inline-block;
}

.detail-draw {
    color: #FFC627;
    background-color: #141A1F;
    width: 24.668%;
    padding: 14px 12px;
    font-size: 12px;
    text-align: justify;
    height: 43px;
    margin-bottom: 10px;
    display: inline-block;
}

#container4 {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;

}

#container3 {
    clear: left;
    float: left;
    width: 100%;
    position: relative;
    right: 25%;

}

#container2 {
    clear: left;
    float: left;
    width: 100%;
    position: relative;
    right: 25%;

}

#container1 {
    float: left;
    width: 100%;
    position: relative;
    right: 25%;

}

#col1 {
    float: left;
    width: 24.668%;
    position: relative;
    left: 75%;
    overflow: hidden;
}

#col2 {
    float: left;
    width: 24.668%;
    position: relative;
    left: 75.664%;
    overflow: hidden;
}

#col3 {
    float: left;
    width: 24.668%;
    position: relative;
    left: 76%;
    overflow: hidden;
}

#col4 {
    float: left;
    width: 24.668%;
    position: relative;
    left: 76.664%;
    overflow: hidden;
}

#col1 p, #col2 p, #col3 p, #col4 p {
    background-color: #141A1F;
    text-align: justify;
    height: 43px;
    padding: 14px 12px;
    font-size: 12px;
    margin-bottom: 20px;
}

#col1 p {
    color: #FFC627;
}

#col2 p, #col3 p, #col4 p {
    color: white;
}

.data {
    vertical-align: top;
    color: white;
}

.left-data {
    float: right;
    margin-right: 0px;
}

.extra-info {
    font-size: 14px !important;
    letter-spacing: 1px;
    color: #FFC627;
    font-weight: 100;
}

/*===================================================== End Tournament Details ================================================== */

/* ========================================================= Modal =========================================================*/
.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #1E242B;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header {
    padding: 15px;
    /*border-bottom: 1px solid #e5e5e5;*/
    min-height: 16.42857143px;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    /*border-top: 1px solid #e5e5e5;*/
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.metro label.modal-sendto-label {
    background-color: #30373C;
    padding: 16px 18px;
    margin-bottom: 40px;
    font-family: inherit;
}

.metro .input-control.text input.modal-subject {
    margin-bottom: 115px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.clearfix:before, .clearfix:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}

.clearfix:after, .modal-footer:after {
    clear: both;
}

.clear {
    clear: both !important;
}

/* ========================================================= End Modal =========================================================*/

/* ==================================================== Error validation ==================================================== */

[ng-cloak] {
    display: none !important;
}

.form-errors {
    display: none;
}

.show-errors .input-control.text input.ng-invalid {
    border: 1px solid #C33A32;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.show-errors .select2-container.ng-invalid {
    border: 1px solid #C33A32;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.has-error .input-control.text input.ng-invalid {
    border: 1px solid #C33A32;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.has-error .select2-container.ng-invalid {
    border: 1px solid #C33A32;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.show-errors .form-errors {
    background-image: linear-gradient(left, #C33A32 5%, #FFC627 5%);
    background-image: -o-linear-gradient(left, #C33A32 5%, #FFC627 5%);
    background-image: -moz-linear-gradient(left, #C33A32 5%, #FFC627 5%);
    background-image: -webkit-linear-gradient(left, #C33A32 5%, #FFC627 5%);
    background-image: -ms-linear-gradient(left, #C33A32 5%, #FFC627 5%);
    position: fixed;
    bottom: 37px;
    left: 0;
    width: 20%;
    display: block;
    border-radius: 5px;
    -webkit-animation-name: animScale;
    animation-name: animScale;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
}

.show-errors .form-errors p {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 20pt;
}

.show-errors .form-errors p:first-child {
    padding-top: 10px;
}

.show-errors .form-errors p:last-child {
    padding-bottom: 10px;
}

@-webkit-keyframes animScale {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

@keyframes animScale {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
        transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

.show-errors .form-warnings {
    background-image: linear-gradient(left, #FFC627 5%, #C33A32 5%);
    background-image: -o-linear-gradient(left, #FFC627 5%, #C33A32 5%);
    background-image: -moz-linear-gradient(left, #FFC627 5%, #C33A32 5%);
    background-image: -webkit-linear-gradient(left, #FFC627 5%, #C33A32 5%);
    background-image: -ms-linear-gradient(left, #FFC627 5%, #C33A32 5%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    display: block;
    border-radius: 5px;
    -webkit-animation-name: animScale;
    n-name: animScale;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 10px;
    line-height: 20pt;
    font-size: 13px;
}

.custom-errors {
    background-image: linear-gradient(left, #C33A32 5%, #FFC627 5%);
    background-image: -o-linear-gradient(left, #C33A32 5%, #FFC627 5%);
    background-image: -moz-linear-gradient(left, #C33A32 5%, #FFC627 5%);
    background-image: -webkit-linear-gradient(left, #C33A32 5%, #FFC627 5%);
    background-image: -ms-linear-gradient(left, #C33A32 5%, #FFC627 5%);
    position: fixed;
    bottom: 37px;
    left: 0;
    width: auto;
    display: block;
    border-radius: 5px;
    -webkit-animation-name: animScale;
    animation-name: animScale;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    padding-left: 30px;
    padding-right: 10px;
    line-height: 20pt;
    font-size: 13px;
    color: #141A1F;
    font-size: 11pt;
}

.custom-warnings {
    background-image: linear-gradient(left, #FFC627 5%, #C33A32 5%);
    background-image: -o-linear-gradient(left, #FFC627 5%, #C33A32 5%);
    background-image: -moz-linear-gradient(left, #FFC627 5%, #C33A32 5%);
    background-image: -webkit-linear-gradient(left, #FFC627 5%, #C33A32 5%);
    background-image: -ms-linear-gradient(left, #FFC627 5%, #C33A32 5%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    display: block;
    border-radius: 5px;
    -webkit-animation-name: animScale;
    animation-name: animScale;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 20pt;
    font-size: 13px;
    color: #141A1F;
}

.ns-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 2px;
    top: 4px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: none !important;
}

.ns-close:hover,
.ns-close:focus {
    outline: none;
}

.ns-close::before,
.ns-close::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 60%;
    top: 50%;
    left: 50%;
    /*background: #C33A32;*/
}

.ns-close:hover::before,
.ns-close:hover::after {
    background: #C33A32;
}

.ns-close::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.ns-close::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*.has-error {
    display: none;
}

.form-group .has-error {
  display: block;
}*/

/* ========================== PANELS BOOTSTRAP CSS - FREE TO CHANGE ===================================*/
.metro .panel {
    /*border: 1px #FFC627 solid;*/
}

.panel {
    margin-bottom: 20px;
    background-color: #1E242B;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 5px 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.metro .panel-content-title {
    font-size: 18px;
    color: #FFC627;
    font-weight: 400;
}

.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-title > a {
    color: #FFC627;
    cursor: pointer;
}

.panel-title > a:hover {
    color: #FFC627;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel > .list-group {
    margin-bottom: 0;
}

.panel > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}

.panel > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}

.list-group + .panel-footer {
    border-top-width: 0;
}

.logoNormal {
    margin-top: 10px;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #FFC627;
    color: #F42434;
}

.nav > li.disabled > a {
    color: #999;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #999;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eee;
    /*border-color: #428bca;*/
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.nav > li > a > img {
    max-width: none;
}

.nav-tabs {
    border-bottom: 0 none;
    overflow: hidden;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    margin-right: 10px;
    cursor: pointer;
    line-height: 1.42857143;
    border-radius: 0;
    background: #FFC627;
    color: #111;
    font-size: 12px;
    font-weight: 400;
    padding: 16px 15px 18px;
}

.nav-tabs > li > a:hover {
    color: #222;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #C33B32;
    /*border: 1px solid #ddd;
    border-bottom-color: transparent;*/
}

/* ====================================================== Messages =================================================================*/
.move-down-30 {
    padding-top: 30px !important;
}

.move-bottom-30 {
    padding-bottom: 30px !important;
}

/* ====================================================== Tags =================================================================*/

tags-input .tags {
    border: 1px solid #30373C !important;
    font-size: 12px !important;
    background: #30373C !important;
    padding: 12px 12px 12px 12px !important;
    box-shadow: 1px 1px 1px 0 #30373C inset !important;
}

tags-input .tags:focused,
tags-input .tags:active {
    border-color: #30373C !important;
}

tags-input .tags.focused {
    box-shadow: 0 0 3px 1px #30373C !important;
}

tags-input .tags .input {
    color: #FFC627 !important;
    background: #30373C !important;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif !important;
}

tags-input .tags .tag-item {
    background: -webkit-linear-gradient(top, #009578 0%, #009578 47%, #009578 100%) !important;
    background: linear-gradient(to bottom, #009578 0%, #009578 47%, #009578 100%) !important;
    border: 1px solid #009578 !important;
    border-radius: 0px !important;
}

tags-input .autocomplete {
    margin-top: 5px;
    position: absolute;
    padding: 5px 0;
    z-index: 999;
    width: 100%;
    background-color: #30373C !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

tags-input .autocomplete .suggestion-item {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white !important;
    background-color: #30373C !important;
}

tags-input .autocomplete .suggestion-item.selected {
    color: #30373C !important;
    background-color: #009578 !important;
}

tags-input .autocomplete .suggestion-item.selected em {
    color: #30373C !important;
    background-color: #009578 !important;
}

tags-input .autocomplete .suggestion-item em {
    font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFC627 !important;
    background-color: #30373C !important;
}

/* ======================================= Empty Space ========================================*/
.empty-space {
    height: 51px;
}

/* ======================================= End Empty Space ========================================*/

/* ======================================= Gracket ========================================*/
.gracket-holder {
    overflow: auto;
    width: 100%;
}

.g_gracket {
    width: 200%;
    background-color: none;
    padding: 55px 15px 5px;
    line-height: 100%;
    position: relative;
    overflow: hidden;
}

.g_round:first-of-type {
    /*background: #30373c;*/
}

.g_round:first-of-type .g_game {
    margin-left: 10px;
    /*border-bottom: 1px solid #181c20;*/
    /*border-top: 1px solid #181c20;*/

}

/*.g_round:first-of-type .g_game:first-of-type*/
/*{*/
/*border-top: none;*/
/*}*/
/*.g_round:first-of-type .g_game:last-of-type*/
/*{*/
/*border-bottom: none;*/
/*}*/

.g_round {
    float: left;
    margin-right: 35px;
}

.g_game {
    position: relative;
    margin-bottom: 15px;
}


.g_gracket h3 {
    margin: 0;
    padding: 5px 3px 5px 7px;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    min-width: 100px;
    height: 48px;
    cursor: pointer;
}

.g_gracket h3.doubles {
    height: 55px
}

.g_seed.g_player_name {
    padding-left: 10px;
    padding-right: 10px;
}

.g_team {
    background: #30373c;
}

/*.g_team:last-child {  background: #817F79; }*/
.g_round:last-child {
    margin-right: 20px;
}

.g_winner {
    background: #444;
}

.g_winner h3 {
    font-size: 14px;
}

.g_winner .scoreholder {
    padding-left: 0;
}

.g_winner .g_team {
    background: none repeat scroll 0 0 #449d44;
    border: 1px solid white;
    height: 70px;
    padding-right: 22px;
    padding-top: 10px;
    margin-top: -7px;
    margin-left: -10px;
}

.g_current {
    cursor: pointer;
    background: #181c20 !important;
}

.metro .g_round_label {
    top: -5px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.ord_num {
    /*position: absolute;*/
    /*left: -10px;*/
}

.has_qualy, .qualy_first_round {
    width: 30px;
    display: inline-block;
}

.qualy_first_round {

}

.table-input, .tie-input {
    width: 50px;
}

.g_seed {
    display: inline-block;
    /*padding-left: 15px;*/
    padding-right: 5px;

}

.score_up_holder {
    display: block;
    height: 13px;
    width: 100%;
}

.court-match .scoreholder table {
    margin: 0 auto;
}

.order_number {
    font-size: 10px;
    padding-right: 3px;
}

.scoreholder {
    width: 100%;
    color: #ffc627;
    vertical-align: top;
    height: 13px;
    padding-left: 15px;
}

h3.doubles .scoreholder table {
    margin-top: 10px;
}

.scoreholder table td {
    padding: 0 4px;
    line-height: 1em;
}

/* ======================================= Gracket end ========================================*/

/* ======================================= FULLSCREEN GRACKETS ========================================*/
*|*:fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

iframe:fullscreen {
    border: none;
}

*|*:fullscreen::backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
}

/* ======================================= END FULLSCREEN GRACKETS ========================================*/

h3.no-permission {
    color: white;
    margin-top: 120px;
    text-align: center;
    top: 50%;
}

.rankingsign {
    padding: 0 12px;
}

.rankingsign.positive {
    color: #009578;
    font-weight: bold;
}

.rankingsign.negative {
    color: #c33a32;
    font-weight: bold;
}

.region_holder a.edit-link {
    color: #428bca;
}

.region_holder a,
.region_holder a:hover {
    color: inherit;
}

.region_holder {
    display: inline-block;
    width: 200px;
    height: 170px;
    margin: 15px;
    border: 2px solid #FFC627;
    text-align: center;
    margin-top: 30px;
    position: relative;
}

.region_holder img {
    left: 0;
    position: absolute;
    z-index: -1;
}

.region_holder .view_region {
    display: block;
    height: 100%;
    width: 100%;
}

.region_holder.image-not-set img {
    margin-top: 70px;
    font-size: 10px;
    position: absolute;
    left: 0;
    right: 0;
}

.region_holder.image-not-set {
    background: #30373C;
}

.region_holder .region_name {
    /*margin-top: 5px;*/
    color: #111;
}

.region_holder .region_edit_button {
    bottom: 0;
    display: block;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 2000;
    background: #333;
}

.region_holder .region_edit_button a {
    color: #fff;
}

.custom-width {
    width: 96%;
}

.thirty {
    width: 30%;
    float: left;
    height: 600px;
}

.seventy {
    width: 70%;
    float: left;
    position: relative;
}

.team-holder {
    background: #3A4146;
    padding: 10px 0 0 25px;
    margin: 5px 0px 5px 0;
    width: 525px;
    cursor: pointer;
    float: left;
    font-size: 11px;
    color: #FFC627;
    height: 45px;
}

.team-holder .team-name {
    width: 270px;
    word-wrap: break-word;
    display: block;
    float: left;
    white-space: pre-line;
    line-height: 1.1;
    margin-top: -12px;
}

.team-holder-danger {
    border: 1px solid #e9322d !important;
}

.order-number {
    position: absolute;
    left: 4px;
}

.drop-holder {
    width: 100%;
    height: 60px;
    background: #3A4146;
    padding: 3px 5px 10px;
    margin: 5px 10px;
    cursor: pointer;
}

.placing-holder {
    /*float: left;*/
    /*width: 50%;*/
    padding: 0 10px;
}

.submit-pairs-btn {
    position: relative;
    z-index: 2000;
}

.small-input {
    width: 40px;
    position: relative;
    border: none;
    background-color: #3A4146;
    color: #FFC627;
    vertical-align: middle;
    padding-left: 20px;
    margin: 0;
    margin-top: -10px;
    font-family: 'Open Sans', sans-serif;
    height: 45px;
    float: right;
}

.team-holder .small-input {
    height: 43px !important;
}

.categories-table .small-input {
    background: transparent;
    float: none;
}

.small-input:hover,
.small-input:focus,
.small-input:active {

    background-color: #FFC627;
    color: black !important;
    /*height: 45px;*/
    color: black;

}

.categories-table .small-input:hover,
.categories-table .small-input:focus,
.categories-table .small-input:active {
    margin-top: 0px;

}

.btn-datepick {
    height: auto !important;
    padding: 4px 12px !important;
    background-color: #ddd !important;

}

.schedule-holder {
    padding: 10px;
    background: #333;
    border: 1px solid #111;
}

.court-column {
    padding: 0px 10px 10px;
    margin: 10px 0 30px;
    width: 25%;
    float: left;
}

.courts_dropdown {
    float: right;
    width: 200px;
}

.court-match {
    width: 100%;
    float: left;
    padding-top: 10px;
    background: #3A4146;
    min-height: 275px;
}

.court-match.editable {
    min-height: 280px;

}

.timepicker-holder {
    padding: 10px;
    overflow: hidden;
}

.enter-match-score-schedule-holder {
    padding: 15px 0;
    color: #ffc627;
}

.enter-match-score-schedule-holder:hover {
    text-decoration: underline;
    cursor: pointer;
}

.submit-schedule {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.rm-float {
    float: none !important;

}

.center-score {
    display: table;
    margin: 0 auto;
    min-height: 19px;
}

.schedule-team-name {
    min-height: 40px;
}

.schedule-status {
    /*position: absolute;*/
    /*bottom: 0;*/
    color: black !important;
    font-weight: bold !important;
    /*left: 0;*/
    /*right: 0;*/
    text-align: center;
    width: 100%;
    font-size: 14px !important;
    height: 60px;
    padding: 20px 1px 1px 1px;
    margin-bottom: 0px;
}

.button.remove-schedule {
    width: auto !important;
    height: auto !important;
    padding: 4px;
}

.manual-draw-position-number {
    float: left;
    padding: 15px 10px 0 5px;
    color: #FFC627;
}

.schedule-image {
    max-width: 75px;
    height: 100px;
    background: #333;
    margin: 0 auto 5px;
}

.live_score_result {

    display: inline;
    padding-left: 50px;
    color: #009578;
    font-size: 13px;
    font-weight: bold;

}

.tournament-name {
    color: #FFC627;
    /* float: left; */
    padding: 0 0 30px 20px;
    font-size: 14px;
    margin-top: -12px;
}

.player1, .player2 {
    color: #FFC627;
    display: inline;

}

.player1 {
    padding: 0 10px 0 20px;

}

.player2 {
    padding: 0 0 0 10px;
}

/* Tiny Scrollbar */

/* Tiny Scrollbar */
#scrollbar-tiny { width: 520px; margin: 20px 0 10px; }
#scrollbar-tiny .viewport { width:90%; height: 500px; overflow: hidden; position: absolute; }
#scrollbar-tiny .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar-tiny .scrollbar{ background: #3A4146; position: relative; background-position: 0 0; float: right; width: 14px; left: 5%;}
#scrollbar-tiny .track { background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 110%; height: 100%; width:14px; position: relative; padding: 0 1px; }
#scrollbar-tiny .thumb { background: #6F7478; height: 20px; width: 12px; cursor: pointer; overflow: hidden; position: absolute; top: 10px; border-radius:10px}
#scrollbar-tiny .thumb .end { background: #6F7478; overflow: hidden; height: 5px; width: 25px;}
#scrollbar-tiny .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
/*.viewport {*/
    /*width: 40%;*/
    /*height: 600px;*/
    /*position: absolute;*/
    /*overflow: hidden; was hidden*/
/*}*/

/*.overview {*/
    /*list-style: none;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*width: 550px;*/
/*}*/

/*.scrollbar {*/
    /*background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0;*/
    /*position: relative;*/
    /*background-position: 0 0;*/
    /*float: right;*/
    /*width: 15px;*/
    /*visibility: hidden;*/
/*}*/

/*.track {*/
    /*background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/
    /*height: 100%;*/
    /*width: 13px;*/
    /*position: relative;*/
    /*padding: 0 1px;*/
/*}*/

/*.thumb {*/
    /*background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;*/
    /*height: 20px;*/
    /*width: 25px;*/
    /*cursor: pointer;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: -5px;*/
/*}*/

/*.thumb .end {*/
    /*background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;*/
    /*overflow: auto;*/
    /*height: 5px;*/
    /*width: 25px;*/
/*}*/

/*.disable {*/
    /*display: none;*/
/*}*/

/*.noSelect {*/
    /*user-select: none;*/
    /*-o-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-webkit-user-select: none;*/
/*}*/

.metro .carousel.live-score-carousel .slide {
    padding-top: 15px;
}

.metro .carousel.live-score-carousel {

    height: 100px;
    background-color: #1E242B;
    /*padding-top:10px !important;*/
    width: 90%;

}

.metro .carousel.live-score-carousel .markers.default > ul > li > a {
    width: 10px;

}

.metro .carousel.live-score-carousel .markers {

    /*padding-bottom: 20px !important;*/
    top: 15px !important;
    left: 15px !important;;
    /*padding-top: 10px;*/

}

/*.metro .main-page .column3-layout {


    width:50.5%;
}*/
.seeded-player {
    font-weight: 700 !important;
}

.btn {
    border: 1px solid #333;
    padding: 3px 6px;
    cursor: pointer;
}

.btn.default {
    background: #333;
    color: #fff;
}

.btn:hover {
    border: 1px solid #111;
    color: #fff !important;
}

.vs.live {

    display: inline;
    padding: 0 10px 0 10px;
}

.text-center.scores {

    font-size: 15px !important;

}

.scores {
    padding-right: 20px !important;
}

.text-center.contestants {

    font-size: 15px !important;

}

.btn-file {
    padding: 13px 0 !important;
    color: #969696 !important;
}

.sponsor-holder {
    padding: 0;
    margin-top: -30px;
}

.sponsor-holder img {
    border: 1px solid #333;
    max-width: 210px;
    padding: 2px;
}

.sponsor-holder p {
    color: #fff;
    text-align: center;
    margin-top: 3px;
}

.gracket-box {
    width: 25%;
    float: left;
    padding: 0 10px;
}

.gracket-box p {
    font-size: 13px;
}

.gracket-box h3 {
    font-size: 17px;
}

.gracket-box img.club-image {
    border: 1px solid #333;
    padding: 2px;
}

.metro .public-toggle:after {
    bottom: auto;
    right: 4px;
}

.bracketPadding {
    padding: 10px 0 0 0;
}

.metro .options-toggle:after {
    bottom: auto;
    right: 10px;
}

/*=================== Search ===================*/
.search-form-holder {
    width: 100%;
    padding: 10px 0;
}

.search-form-holder .form-control {
    width: 150px;
    margin-right: 10px;
}

.search-form-holder .form-control.submit-type {
    width: auto;
}

/*=================== Rfet buttons ===================*/
.metro .rfet-button {
    padding: 16.6px 15px 18px;
    font-size: 11px;
    color: #111;
    line-height: 16px;
    cursor: pointer;
    font-family: inherit;
    display: inline-block;
}

.metro .rfet-button.rfet-block {
    padding-left: 25px;
    padding-right: 25px;
}

.metro .rfet-button img {
    width: 14px;
    margin-left: 10px;
}

.metro .rfet-button:hover, .metro .rfet-button:focus {
    color: #fff;
}

.metro .rfet-grey {
    color: #FFC627;
    background: #30373C;
    border: 1px solid #30373C;
}

.metro .rfet-danger {
    color: #fff;
    background: #C33B32;
    border: 1px solid #30373C;
}

.metro .danger-color {
    color: #C33B32;
}

.metro .rfet-success {
    color: #fff;
    background: #449d44;
    border: 1px solid #30373C;
}

.metro .rfet-info {
    color: #fff;
    background: #31b0d5;
    border: 1px solid #30373C;
}

.metro .rfet-yellow {
    background: #FFC627;
    color: #111;
}

.metro input.rfet-paypal {
    background: #449d44;
    float: left;
    height: 50.6px;
    font-size: 11px;
}

.metro .rfet-yellow:hover, .metro .rfet-yellow:focus {
    color: #111;
}

.courts-view {

    color: #FFC627 !important;
}

.courtnum {

    margin-left: 110px !important;

}

.metro .text-center {

    padding: 10px 5px 5px 5px;
}

.not-started {
    /*position: absolute;*/
    /*bottom: 0;*/
    color: white !important;
    font-weight: bold !important;
    /*left: 0;*/
    /*right: 0;*/
    text-align: center;
    width: 100%;
    font-size: 14px !important;
    height: 60px;
    padding: 20px 1px 1px 1px;
    margin-bottom: 0px;
}

.choose-position {

    background-color: #3A4146;
    border: none;
    font-size: 12px;
    vertical-align: middle;
    position: relative;
    float: right;
    font-family: 'Open Sans', sans-serif;
    color: #FFC627;
    font-weight: bold;
    width: 125px;
}
.choose-position option
{
    color: black;
}    
.choose-position:hover {

    background-color: #FFC627;
    color: black;
    height: 45px;
    margin-top: -10px;
}

.pos-right {

    background-color: #3A4146;
    border: none;
    font-size: 12px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    color: #FFC627;
    font-weight: bold;
    float: right;
}

.pos-right:hover {

    background-color: #FFC627;
    color: black;
    height: 45px;
    margin-top: -10px;

}

.metro a.button.primary.yellowBtnSignups {

    background-color: #FFC627 !important;
    color: black !important;
}

.signups-accordion .panel-heading h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
}

.list_of_draws {
    width: 50%;
    margin: 0 auto;
}

.errorHandler {

    margin-left: 10px;
    position: fixed;
    display: block;

}

.playerImage {
    width: 15%;
    float: left;
}

.leftPartOne {
    float: left;
    width: 17%;
    background-color: #141A1F;
    padding: 20px 15px 5px 15px;
}

.leftPartTwo {
    float: left;
    width: 23%;
    background-color: #454B4F;
    margin-right: 15px;
    margin-left: 15px;
    padding: 20px 15px 5px 15px;
}

.rightPartOne {
    float: left;
    width: 17%;
    background-color: #141A1F;
    margin-right: 15px;
    padding: 20px 15px 5px 15px;
}

.rightPartTwo {
    float: left;
    width: 23%;
    background-color: #454B4F;
    padding: 20px 15px 5px 15px;
}

:-webkit-full-screen .bracketTourInfo {
    display: block !important;
    color: black !important;
    font-size: 15px;
    padding: 0 10px 0;
    font-weight: bold;
    float: right;
    clear: both;
    margin-bottom: 0;
}

:-moz-full-screen .bracketTourInfo {
    display: block !important;
    color: black !important;
    font-size: 15px;
    padding: 0 10px 0;
    font-weight: bold;
    float: right;
    clear: both;
    margin-bottom: 0;
}

:-ms-fullscreen .bracketTourInfo {
    display: block !important;
    color: black !important;
    font-size: 15px;
    padding: 0 10px 0;
    font-weight: bold;
    float: right;
    clear: both;
    margin-bottom: 0;
}

:full-screen .bracketTourInfo {
    display: block !important;
    color: black !important;
    font-size: 15px;
    padding: 0 10px 0;
    font-weight: bold;
    float: right;
    clear: both;
    margin-bottom: 0;
}

:-webkit-full-screen .tourTitle {
    display: block !important;
    color: black !important;
    font-size: 15px;
    padding: 10px 0 10px 10px;
    font-weight: bold;
}

:-moz-full-screen .tourTitle {
    display: block !important;
    color: #FFC627 !important;
    font-size: 15px;
    padding: 10px 0 5px 10px;
    font-weight: bold;

}

:-ms-fullscreen .tourTitle {
    display: block !important;
    color: #FFC627 !important;
    font-size: 15px;
    padding: 10px 0 5px 10px;
    font-weight: bold;
}

:full-screen .tourTitle {
    display: block !important;
}

:fullscreen .tourTitle {
    display: block !important;
}

.note-holder {
    background-color: #30373C;
    border: 1px #30373C solid;
    background: #30373C;
    width: 100%;
    height: 100%;
    padding: 12px 18px 12px 18px;
    margin: 0 0 20px;
    position: relative;
}

.note-holder p {
    color: #FFC627;
    font-size: 12px;
    margin-bottom: 5px;
}

.note-holder p.note-creator {
    font-size: 13px;
    border-bottom: 1px solid #FFC627;
    margin-bottom: 10px;
}

.note-holder p.note-text {
    white-space: pre-line;
}

.delete_note {
    position: absolute;
    right: 25px;
    top: 11px;
    color: #FFC627 !important;
}

.note-holder p.note-penalized {
    color: #C33A32;
}

.form-error {
    color: #C33B32 !important;
    float: right;
    min-height: 15px;
}

.metro .printSignupList {
    display: block;
    float: left;
}

/*.metro #signup-list-printable tr:last-child td {
    color: #fa0000;
}*/

.metro #signup-list-printable thead tr td:last-child {
    display: none !important;
}

.orderOfplay {

    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    /*height:100%;*/
}

.metro .button.date_select {
    width: 70px;
    height: 70px;
    background-color: #009578;
    padding-top: 5px;
    margin-bottom: 5px;
}

.metro .button.date_select.selected {
    background-color: #FFC627;
}

.metro .button.date_select.not-selected-date {
    background-color: #009578 !important;
}

.metro .button.date_select.selected-date {
    background-color: #FFC627;
}

.timeTextD {
    font-size: 20px;
    font-weight: bolder !important;
    padding-bottom: 5px;
}

.timeTextM {

    font-size: 15px;
    padding-bottom: 5px;
}

.timeTextY {

    font-size: 12px;
    padding-bottom: 5px;
}

.rankingicon {
    width: 16px;
    height: 20px;
    margin-left: 5px;
    display: inline-block;
    background-repeat: no-repeat;
}

.rankingicon.positive {
    background: url('icons/ranking_up_16.png') 0 2px no-repeat;
}

.rankingicon.negative {
    background: url('icons/ranking_down_16.png') 0 3px no-repeat;
}

hr.break-draw {
    background: #ffc627;
    width: 100%;
    margin-left: 10px;
}

.tournament-first-links {
    padding-top: 20px;
    float: left;
    margin-top: 75px !important;
}

.tournament-first-links p {
    font-size: 15px;
    color: #ffc627;
    border-bottom: 1px solid #ffc627;
    float: left;
    padding-right: 20px;
    margin: 10px 0 5px;
}

.tournament-first-links a {
    display: block;
    clear: both;
    color: #e9322d;
    text-decoration: underline;
}

.tournament-first-links a:hover {
    text-decoration: underline;
    color: #ffc627;
}

.club-map {
    margin-top: 10px;
    width: 100%;
    height: 400px;
    display: block;
}

.map-tooltip {
    width: 145px;
    padding: 5px;
    background-color: #fff;
    color: #000;
}

.map-missing-holder {
    position: relative;
}

.map-missing {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 32px;
    height: 32px;
    background: url('icons/map_missing.png') no-repeat;

}

.toggleAccordion, .togAcc {
    font-size: 30px;
    font-weight: bolder;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-top: -3px;
}

.togAcc {
    font-size: 40px;
}

.auto-br {
    white-space: pre-line;
}

.pageBreak {
    visibility: hidden;
}

.hideTile {
    visibility: hidden;
    margin-bottom: 46px;
}

.hideForPrint {
    display: none;
}

.order-invalid {
    border: 1px solid #C33B32;
}

/*==================CSS for Firefox=====================*/

@-moz-document url-prefix() {

    .court-match {
        min-height: 321px;
        position: relative;
    }

    .match-statuses {
        position: absolute;
        bottom: 0;
    }

}

/*==================end CSS for Firefox=====================*/

/* ============= CHART CSS ================== */
.line_chart {
    /*width: 100%;*/
    height: 400px;
    background-color: rgba(0, 0, 0, 0.75);
    /*background-color: black;*/
}

.line_chart .highcharts-container {
    width: 100%;

}

/* ============= END CHART CSS ================== */

.checkbox-ang {
    float: left;
    margin-top: 12px;
    margin-right: 10px;
}

.club-image {
    margin-top: 20px;
    float: left;
    border: 1px solid #ccc;
}

.ranking_genderM {
    width: 40%;
    float: left;
    margin-left: 30% !important;
    padding-bottom: 20px;
    font-size: 19px;
    font-weight: bold;
}

.ranking_genderF {
    float: left;
    padding-bottom: 20px;
    margin-top: -45px;
    float: left;
    padding-bottom: 20px;
    margin-top: -45px;
    margin-left: 20%;
    font-size: 19px;
    font-weight: bold;
}

h3.movers {
    padding-top: 20px;
    text-align: center;
    margin-left: 15%;
}

.live_score_box {
    width: 49% !important;
    display: inline-block;
    padding-top: 30px;
}

.livescore_box_text {
    font-size: 17px;
}

.metro .rankings-table th {
    font-size: 12px;
}

.middle {
    text-align: center;
    width: 100%;
}

.live-mode-scoring .set_points {
    margin: 0 auto;
    width: 50%;
}

.live-mode-scoring .set_points .active {
    color: #C33B32;
}

.live-mode-scoring .player_name {
    width: 100px;
}

.live-mode-scoring .set_point {
    width: 35px;
}

.game-score .radio-name {
    font-size: 14px;
    color: white;
    display: block;
}

.game-score {
    vertical-align: top;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    width: 185px;
    display: inline-block;
}

.game-score .add_remove_score_holder {
    display: block;
    height: 65px;
    width: 100%;
    padding: 10px 5px;
}

.game-score .add_score,
.game-score .remove_score {
    height: 45px;
    cursor: pointer;
    font-size: 33px;
    background: #666;
}

.game-score .add_score {
    background-color: #009578;
}

.game-score .remove_score {
    background-color: #C33B32;
}

.number_holder,
.separator {
    vertical-align: top;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    height: 120px;
    color: #a3a3a3;
    display: inline-block;
    vertical-align: top;
    text-align: center;

}

.number_holder {
    width: 80px;
    background: #333;
    margin: 0 5px;
    font-size: 82px;

}

.separator {
    font-size: 42px;
    padding-top: 100px;
    line-height: 42px;

}

.metro .inline-input {
    width: 85% !important;
}

.submit-btn-inline {
    float: right;
    margin-top: 25px;
}

.submit-btn-inline a {
    padding: 14.6px 15px 18px;
}

hr.form-separator {
    width: 100%;
    background-color: #FFC627;
}

.inline-inputs-holder {
    width: 85%;
}

.tournament_details_sponsor {
    padding-bottom: 60%;
}

.tournament_details_content {
    margin-top: -27%;
}

.cursor-text {
    cursor: text !important;
}

.button-yelow-pad {
    padding-left: 10px !important;
    margin-right: 10px !important;
}

ul.dropdown-menu {
    left: 0px !important;
}

.boldText {
    font-weight: bold !important;
}

.slot {
    border: 1px solid #1E242B;
    max-width: 100%;
    height: 20px;
    font-size: 7.5px;
}

.bracketNameLeftTop {
    float: left;
}

.bracketScoreLeftTop {
    float: right;
    padding-top: 6px;
}

.bracketScoreLeftBot {
    float: right;
}

.bracketNameLeftBot {
    padding-top: 6px;
    float: left;
}

.passReset {
    color: #F7A700;
    font-size: 12px;
    padding-left: 61%;
    margin-top: -13px;
}

.reset-success-msg {
    text-align: center;
    color: #fff !important;
    padding-top: 30px;
}

.passFormReset {
    width: 30%;
    margin-left: 35% !important;
    margin-top: 4% !important;
}

.textPassChange {
    margin-left: 43% !important;
    margin-top: 7% !important;
}

.paddingLeftStep2 {
    padding-left: 35%;
    padding-top: 10%;
}

.metro .live_mode_start_match {
    padding: 50px 0 0 0;
    text-align: center;
}

.metro .live_mode_start_match button {
    background-color: #009578;
    color: #30373c !important;
    font-size: 16px;
    margin: 0 auto;
    width: 270px;
    padding: 20px 0;
}

.metro .time_of_playing {
    text-align: center;
}

.popup-dropdown {
    width: 120px;
    text-align: left;
}

.metro .popup-dropdown:after {
    right: 10px;
    bottom: 16px;
}

.popup-dropdown .dropdown-toggle {
    width: 100%;
}

.metro .match-status-button, .metro .match-status-button:hover {
    border: 1px solid #fff;
    background-color: #30373C;
    padding: 2px 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 45px;
}
.metro .match-status-button.remove, .metro .match-status-button.remove:hover {
    background-color: #C33B32;
}
.edit-statistics {
    margin-top: 40px !important;
    margin-left: 2% !important;
}

.fined {
    color: #e9322d;
}

.player-align.table-content.players.tabScrl.rankingsPad {
    margin-top: -191px !important;
}

.metro .default-style.checkbox input[type="checkbox"]:checked ~ .check:after {
    margin: 2px !important;
}

.filter-box {
    width: 100%;
    margin-top: 30px;
}

.filter-box .filter {
    margin-bottom: 15px;
}

.filter-box .filter .select2-container {
    width: 230px;
}

.filter-box .filter .half-button {
    width: 40%;
}

.calendar-holder {
    float: right;
}

.manual-bracket-warning {
    float: right;
    width: 47%;
    padding: 10px;
    background: #e9322d;
    color: #fff !important;
    border: 1px solid #cccccc;
    text-align: center;
}

.list-of-teams {
    margin-top: 15px;
    margin-right:20px;
    vertical-align: top;
    display: inline-block;
    width: 150px;
    text-align: center;
}

.list-of-teams .small, .court-column .draggable.team .small {
    font-size: 8px;
    display: block;
    line-height: 4px;
}

.list-of-courts {
    vertical-align: top;
    display: inline-block;
    width: 1000px;

}

.list-of-teams .team {
    width: 150px;
    padding: 10px;
    height: 94px;
    margin-bottom: 5px;
    background: #ffc627;
    font-size: 11px;
    color: black;
    cursor: pointer;
    z-index: 9999;
}

.court-column .draggable.team,
.court-column .order-of-p.team {
    cursor: pointer;
    margin-top: 12px;
    text-align: center;
    font-size: 11px;
    position: relative;
}

.court-column .draggable.team .delete-schedule {
    position: absolute;
    font-size: 11px;
    border: 1px solid #e9322d;
    background: #e9322d;
    color: #fff;
    padding: 2px 8px;
    top: -10px;
    right: -10px;
}
.enter_score_order_of_play:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.metro p.schedule-showtime {
    text-align: center;
    font-size: 13px;
    color: #fff;
}
.metro p.schedule-show-court-title {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin: 0 !important;
    color: #fff;
}

.schedule-row {
    border-bottom: 1px solid #FFC627;
}

.add_new_row {
    cursor: pointer;
    margin-top: 10px;
}

.metro .court-title {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin: 0 !important;
}

.court-drop .select2-choice {
    height: 30px;
    line-height: 4px;
    margin-bottom: 5px;
}

.court-drop {
    margin-right: 10px;
    width: 190px;
    height: 230px;
    background: #31b0d5;
    border: 1px solid transparent;
}

.court-drop.preview-box {
    background: #5c5c5c;
}

.court-drop.state-warning {
    background: #FFC627;
}

.court-drop.state-hover {
    border: 1px solid #fff;
}

#search-input {
    margin: 10px 10px 10px 0;
    width: 140px;
    background: #333;
    border: 1px solid #FFC627;
    padding: 3px 4px;
    font-size: 12px;
    color: #FFC627;
}

.hidden-span {
    display: block;
    visibility: hidden;
    position: absolute;
}
.team .match_id
{
    font-weight: bold;
    left: 2px;
    position: absolute;
    top: 0;
}
.team .match_id.bottom
{
    font-weight: bold;
    position: static;
    text-align: left;
}
.hide-time {
    visibility: hidden;
}

.court-drop .text {
    position: absolute;
    /*background: #111;*/
    padding: 2px;
    width: 172px;
    /*opacity: 0.8;*/
    text-align: center;
    margin-top: -4px;
    font-size: 10px;
}

.court-drop.state-error {
    background: #ff0000;
}

.court-drop.state-inprogress {
    background: #ffc627;
}

.court-drop.state-accepted {
    background: #449d44;
}

.timepicker_wrap {
    width: 190px;
}

.row.hidden-row {
    display: none !important;
}

.mutua-number {
    font-size: 15px;
    text-align: center;
    color: #FFC627 !important;
    margin-bottom: 10px;
}

.invoice-info {
    padding: 10px;
    border: 2px solid #FFC627;
}

.invoice-info p {
    color: #fff;
}

.invoice-update-holder {
    padding-left: 15px;
}

.invoice-update-holder p {
    color: #FFC627;
}

p.big-total {
    font-size: 16px;
}
.modal_holder
{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
}
.modal_content
{
    text-align: center;
    position: absolute;
    width: 230px;
    height: 100px;
    left: 50%;
    margin-left: -115px;
    top: 50%;
    margin-top: -50px;
}

.metro .player-total-points {
    font-size: 17px;
    color: #fff;
    text-align: right;
}

.metro .tournament-notes-link {
    background: #d43f3a;
    padding: 3px 4px;
    color: #fff;
    margin-top: -2px;
}

.metro .tournament-notes-link:hover {
    color: #f1f1f1;
}

.no-color a
{
    color: inherit;
}

.metro .input-control#ref-check-holder input[type="checkbox"]:checked ~ .check:after {
    margin: 2px 0 0 3px;
}

.video-tutorials-table,
.video-tutorials-table a
{
    font-size: 12px;
    color: white;
}
.video-tutorials-table tr:first-of-type
{

    height: 50px;
    font-weight: bold;
}
.video-tutorials-table td:first-of-type
{
    width: 400px;
}

.video-tutorials-table td:last-of-type a
{
    color: #efefef;
    text-decoration: underline;
}
a.videos-link,
a.videos-link:visited,
a.videos-link:active,
a.videos-link:focus
{
    font-family: "Open Sans",sans-serif;
    /*display: block;*/
    width: 30px;
    height: 30px;font-size: 20px;
    color: #FFC627;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    /*padding: 7px;*/
    text-align: center;
    margin: 10px 10px 0 0;
    border: 1px solid #FFC627;
}
a.videos-link:hover
{
    color: #009578;
    border: 1px solid #009578;
}

/** LIVE APP FOR PHONE **/
@media (max-width: 768px) {
    .mobile_app .game-score .number_holder
    {
        width: 40%;

    }
    .mobile_app .game-score
    {
        width: 40%;
    }

}

.wrong-browser
{
    width: 100%;
    height: 80px;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 20px 0 10px 0;
    font-weight: bold;
}

#tooltip_hover {
    display:none;
}

.rules-modal{
    cursor:pointer;
}

.search-invoice {
    color: #85888c;
    margin-top:20px;
    background: none repeat scroll 0 0 #30373c;
    border: 1px solid #30373c;
    font-size: 12px;
    font-weight: 300;
    height: 100%;
    padding: 12px 18px;
}

.metro .table th, .metro .table td.no_style
{
    height: auto;
    background: none;
}

.order-of-play-preview {
    padding-top:1%;
    text-align: center;
    font-size:13px
}

.box-size-main {
    height:200px !important;
}
.table-content  form
{
    min-height: 250px
}
.rankings-table tr th a{
    display: block;
    height: 65px;
}

.add-results-error-message{
    text-align: center;
    color: #c33b32;
    font-size: 16px;
}

.last-recalculation{
    margin-left: 60%;
    position: relative;
    margin-bottom: 20px;
}
