body, html, .metro {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a:hover, a:focus {
    text-decoration: none;
}

label {
    font-weight: 400;
}

#all-content {
    padding: 0 0 50px;
}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
    border: 1px solid red;
}

.comment-form-holder textarea.ng-invalid.ng-dirty {
    border: 1px solid #ccc;
}

.navbar-public {
    background-color: #1E242B;
    border-color: #1E242B;
    min-height: 85px;
}

.navbar-public .navbar-header {
    margin-right: 1px;
}

.navbar-public .navbar-text {
    color: #777777;
}

.navbar-public .navbar-nav {
    margin-top: 20px;
}

.navbar-public .navbar-brand {
    float: left;
    padding: 12px 10px 12px 20px;
    font-size: 18px;
    line-height: 20px;
    height: auto;
    display: block;
    margin-right: 50px;
}

.navbar-public .navbar-nav > li > a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-public .navbar-nav > li > a:hover,
.navbar-public .navbar-nav > li > a:focus {
    color: #F7A700;
    background-color: #1E242B;
}

.navbar-public .navbar-nav > .active > a,
.navbar-public .navbar-nav > .active > a:hover,
.navbar-public .navbar-nav > .active > a:focus {
    color: #F7A700;
    background-color: #1E242B;
}

.navbar-public .navbar-nav > .disabled > a,
.navbar-public .navbar-nav > .disabled > a:hover,
.navbar-public .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-public .navbar-toggle {
    border-color: #dddddd;
}

.navbar-public .navbar-toggle:hover,
.navbar-public .navbar-toggle:focus {
    background-color: #dddddd;
}

.navbar-public .navbar-toggle .icon-bar {
    background-color: #888888;
}

.navbar-public .navbar-collapse,
.navbar-public .navbar-form {
    border-color: #2e8bcc;
}

.navbar-public .navbar-nav > .open > a,
.navbar-public .navbar-nav > .open > a:hover,
.navbar-public .navbar-nav > .open > a:focus {
    background-color: #2F353A;
    color: #F7A700;
}

.navbar-public .navbar-nav > li > a.active {
    color: #F7A700;
    background-color: #2F353A;
}

.nav-tabs > li > a, .panel-title > a {
    cursor: pointer;
}

/*.line {
    width: 205px;
    border-color: #FFC627;
    border-bottom: 1px solid;
    display: block;
}
*/
/*
.headlinePadding{
    padding-bottom:40px;
}
*/

.page-title {
    display: block;
    overflow: hidden;
}

.page-title h1 {
    border-bottom: 1px solid #555;
    float: left;
    padding-right: 30px;
    padding-bottom: 5px;
}

/*======================== Index page ==========================*/

.index-title h1 {
    border-bottom: 0;
    padding-left: 20px;
}

.textColor {

    color: black;
}

.textMiddle {

    color: black;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}

.tile.tile-large.tileMiddle1 {
    width: 100%;
}

.gallery-holder {
    text-align: center;
    margin-bottom: 35px;
    min-height: 323px;
}

.carousel-inner img {
    width: 100%;
}

.carousel-control {
    width: 6%;
    background-image: none !important;
}

.carousel-control span {
    top: 48%;
    position: absolute;
    display: block;
}

.scores-holder {
    margin: 20px 0 0;
    padding-bottom: 20px;
}

.scores-holder.upper-box {
    margin-top: 62px;
}

.scores-title {
    background: #F7A700;
    color: #1E242B;
    padding: 11px 20px;
    font-weight: 16px;
    font-weight: 300;
}

.scores-title h3 {
    margin: 0;
}

.index-table-holder {
    border-bottom: 1px solid #F7A700;
    border-left: 1px solid #F7A700;
    border-right: 1px solid #F7A700;
    padding: 0 5px;
}

.index-table-holder table th {
    font-size: 14px;
    font-weight: 300;
    color: #F7A700;
    border-bottom: 0 !important;
}

.index-table-holder table tbody tr td {
    border-top: 0 none;
    color: #1E242B;
    font-size: 13px;
}

.index-table-holder table tbody tr td a {
    color: #1E242B;
}

.index-table-holder table tbody tr td a:hover {
    border-bottom: 1px solid #ccc;
}

.categories-holder {
    margin-bottom: 11px;
}

.categories-holder h3.title, .news-holder h3.title {
    margin: 0 0 15px;
    background-color: #F7A700;
    color: #1E242B;
    padding: 13px 15px 13px 23px;
    font-size: 20px;
}

/*.row-holder {
    margin-bottom: 10px;
    overflow: hidden;
}*/

.category-link, .countdown {
    display: block;
    padding: 13px 15px 13px 23px;
    color: #F7A700;
    background-color: #1E242B;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 11px;
}

.category-link:hover {
    color: #fff;
}

.tourName {
    background-color: white;
}

.news-holder h3.title {
    margin-top: 13px;
}

.news-holder {
    margin-bottom: 20px;
}

.index-article-holder {
    background: #1E242B;
    padding: 15px 10px;
    color: #fff;
    margin-bottom: 15px;
}

.index-article-holder a {
    color: #fff;
}

.index-article-holder img {
    float: left;
    margin-right: 7px;
    padding: 3px;
    width: 70px;
    margin-top: 4px;
}

.index-article-holder h4 {
    color: #F7A700;
    font-size: 14px;
    margin: 0 0 5px;
}

.index-article-holder h4 a {
    color: #F7A700;
}

.index-article-holder p {
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    line-height: 1.3;
    color: #fff;
}

.tile.tile-small.tileLeft1 {
    width: 100%;
    background-color: #1E242B;
    border: 0;
    opacity: 1;
    height: auto;
    min-height: 30px;
    text-align: left;
    padding: 13px 15px 13px 23px;
    margin-bottom: 15px;
}

.tileLeft1 a {
    color: #F7A700;
    font-size: 16px;
    font-weight: 300;
}

.latestBlog {
    background-color: #2ecc71;
}

.liveScores {
    background-color: white;

    width: 100%;
}

.orderOfPlay {
    background-color: white;

    width: 100%;

}

.tile.tile-small.tiletopLeft1 {
    width: 100%;
    background-color: #1E242B;
    height: 160px;
    opacity: 1;
    margin: 0px 0 15px;
    border: 0;
}

.category {

    background-color: #2e8bcc;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    color: white;

}

.blogNews {

    height: 100%;
    margin-bottom: 5px;
    width: 100% !important;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    color: white;

}

.textDateD {
    color: #F7A700;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: bold;
}

.textDateM {
    color: #F7A700;
    font-size: 16px;
    font-weight: 100;
}

.textLeft {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
}

.liveScore {

    width: 100% !important;
    color: black;
    font-weight: bold;
    font-size: 15px;

}

/*======================== Index page end ==========================*/

.c1 {
    color: black;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    border-bottom: 2px solid;
    text-align: left;
}

.c23 {
    color: black;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    border-bottom: 2px solid;
    text-align: left;
}

.c4 {
    color: black;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    border-bottom: 2px solid;
    text-align: left;
}

.tableHead {

    border: 1px solid;
    color: black;
    background-color: #00aba9;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    border-right: 2px solid;
    border-left: 2px solid;
}

.categoryText {
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding-top: 20px;
}

.accordion-toggle:hover {
    text-decoration: underline;
}

.draw-holder {
    margin: 0 0 20px;
}

.single-draw {
    border: 1px solid #ccc;
    padding: 10px 15px;
    min-height: 206px;
}

.gracket-holder {
    overflow: auto;
    width: 100%;
}

.g_gracket {
    width: 200%;
    background-color: transparent;
    padding: 55px 15px 5px;
    line-height: 100%;
    position: relative;
    overflow: hidden;
}

.g_round {
    float: left;
    margin-right: 35px;
}

.g_game {
    position: relative;
    margin-bottom: 15px;
}

.g_gracket h3 {
    margin: 0;
    padding: 5px 3px 5px 7px;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    min-width: 100px;
    height: 45px;
}

.g_gracket h3.doubles {
    height: 40px
}

.g_team {
    background: #30373c;
}

/*.g_team:last-child {  background: #817F79; }*/
.g_round:last-child {
    margin-right: 20px;
}

.g_winner {
    background: #444;
}

.g_winner h3 {
    font-size: 14px;
}

.g_winner .scoreholder {
    padding-left: 0;
}

.g_winner .g_team {
    background: none repeat scroll 0 0 #449d44;
    border: 1px solid white;
    height: 70px;
    padding-right: 22px;
    padding-top: 10px;
    margin-top: -10px;
    margin-left: -15px;
}

.g_current {
    cursor: pointer;
    background: #181c20 !important;
}

.g_round_label {
    top: -5px;
    font-weight: 400;
    color: #30373C;
    text-align: center;
    font-size: 16px;
}

.table-input, .tie-input {
    width: 50px;
}

.g_seed {
    line-height: 1.5em;
    display: inline-block;
    padding-left: 15px;
    padding-right: 5px;
}

h3.doubles .scoreholder table {
    margin-top: 10px;
}

.scoreholder table td {
    padding: 0 3px;
}

.has_qualy, .qualy_first_round {
    width: 30px;
    display: inline-block;
}

.table-input, .tie-input {
    width: 50px;
}

.g_seed {
    display: inline-block;
    /*padding-left: 15px;*/
}

.score_up_holder {
    display: block;
    height: 13px;
    width: 100%;
}

.court-match .scoreholder table {
    margin: 0 auto;
}

.order_number {
    font-size: 10px;
    padding-right: 3px;
}

.scoreholder {
    width: 100%;
    color: #ffc627;
    vertical-align: top;
    height: 13px;
    padding-left: 15px;
}

h3.doubles .scoreholder table {
    margin-top: 10px;
}

/* ======================================= Gracket end ========================================*/

/* ======================================= News  ========================================*/

.asset-holder {
    border: 1px solid #ccc;
    padding: 10px;
    height: 280px;
    position: relative;
    margin-bottom: 20px;
}

.asset-holder a {
    position: absolute;
    left: 0;
    top: 0;
}

.article-holder {
    border: 1px solid #ddd;
    padding: 5px 10px;
    height: 220px;
    margin-bottom: 20px;
}

.article-holder:hover {
    border: 1px solid #444;
}

.article-holder h3 {
    margin: 3px 0 10px;
}

.article-holder a {
    color: #284866;
}

.article-holder img {
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 3px;
    max-width: 150px;
}

.article-holder p {
    font-size: 13px;
    font-weight: 300;
    color: #555;
}

.details-header {
    border-bottom: 1px solid #555;
    float: left;
    padding-right: 20px;
    margin-bottom: 15px;
}

.draws-info-holder div {
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.draws-info-holder div p {
    border-bottom: 1px solid #ddd
}

#news-images-carousel {
    padding: 0;
    float: left;
    margin-right: 10px;
    height: 275px;
    overflow: hidden;
}

/* ======================================= Gallery ========================================*/
.gallery-asset-holder {
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    min-height: 230px;
    position: relative;
    margin-bottom: 20px;
}

.gallery-asset-holder a {
    position: absolute;
    left: 0;
    top: 0;
}

.gal-img-holder {
    float: left;
    margin: 0 10px 10px;
}

.gal-img-holder img {
    max-height: 150px;
    padding: 3px;
    border: 1px solid #ccc;
}

/* ======================================= Gallery end ========================================*/

/* ======================================= Schedule ========================================*/

.orderOfplay {
    width: 100%;
    display: block;
}

.button.date_select {
    width: 70px;
    height: 70px;
    background-color: #009578;
    padding-top: 5px;
    margin-bottom: 5px;
}

.button.date_select.selected {
    background-color: #FFC627;
}

.button.date_select.not-selected-date {
    background-color: #009578 !important;
}

.button.date_select.selected-date {
    background-color: #FFC627;
}

.timeTextD, .timeTextM, .timeTextY {
    color: #111;
}

.timeTextD {
    font-size: 20px;
    font-weight: bolder !important;
    padding-bottom: 5px;
}

.timeTextM {

    font-size: 15px;
    padding-bottom: 5px;
}

.timeTextY {

    font-size: 12px;
    padding-bottom: 5px;
}

.court-column {
    padding: 0px 10px 10px;
    margin: 10px 0 30px;
    width: 25%;
    float: left;
}

.court-drop {
    margin-right: 10px;
    width: 190px;
    height: 140px;
    background: #31b0d5;
    border: 1px solid transparent;
}

.court-drop.preview-box {
    background: #5c5c5c;
}

p.schedule-showtime {
    text-align: center;
    font-size: 13px;
    color: #fff;
}

p.schedule-show-court-title {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    margin: 0 !important;
    color: #fff;
}

.schedule-row {
    border-bottom: 1px solid #cccccc;
    margin: 0 0 15px;
}

.court-column .draggable.team .small {
    font-size: 8px;
    display: block;
    line-height: 4px;
}

.court-column .draggable.team {
    cursor: pointer;
    margin-top: 25px;
    text-align: center;
    font-size: 11px;
    position: relative;
    color: #fff;
}

/*.schedule-holder {*/
/*padding: 10px;*/
/*background: #333;*/
/*border: 1px solid #111;*/
/*}*/

/*.court-column {*/
/*padding: 10px;*/
/*margin: 10px 0 30px;*/
/*width: 25%;*/
/*float: left;*/
/*}*/

/*.court-match {*/
/*width: 100%;*/
/*float: left;*/
/*padding-top: 10px;*/
/*background: #3A4146;*/
/*min-height: 300px;*/
/*margin-bottom: 20px;*/
/*}*/

/*.center-score {*/
/*display: table;*/
/*margin: 0 auto;*/
/*min-height: 19px;*/
/*}*/

/*.schedule-team-name {*/
/*min-height: 40px;*/
/*}*/

/*.schedule-status {*/
/*color: black !important;*/
/*font-weight: bold !important;*/
/*text-align: center;*/
/*width: 100%;*/
/*font-size: 14px !important;*/
/*height: 62px;*/
/*padding: 20px 1px 1px 1px;*/
/*margin-bottom: 0px;*/
/*}*/

/*.courts-view {*/
/*color: #FFC627;*/
/*}*/

/*.courtnum {*/
/*margin-left: 110px !important;*/
/*color: #111;*/
/*}*/

h3.doubles .scoreholder table {
    margin-top: 10px;
}

.scoreholder table td {
    padding: 0 4px;
    line-height: 1.5em;
}

.rm-float {
    float: none !important;
}

.not-started {
    color: white !important;
    font-weight: bold !important;
    text-align: center;
    width: 100%;
    font-size: 14px !important;
    height: 60px;
    padding: 20px 1px 1px 1px;
    margin-bottom: 0px;
}

.live_score_result {
    display: inline;
    padding-left: 50px;
    color: #009578;
    font-size: 13px;
    font-weight: bold;
}

/* ======================================= Schedule end ========================================*/

/* ======================================= Comments ========================================*/
.comments-holder {
    margin-top: 40px;
}

.comments-holder h3 {
    color: #178D78;
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #178D78;
}

.comments-holder .comment:nth-child(odd) {
    background: #F9FFFE;
}

.comments-holder .comment {
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 5px;
}

.comments-holder .comment .comment-head {
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 0;
}

.comments-holder .comment .comment-head .commentator {
    font-weight: 300;
    float: left;
}

.comments-holder .comment .comment-head .commentator .date {
    color: #CECECE;
    font-size: 10px;
    padding-left: 5px;
    cursor: default;
}

.comments-holder .comment .comment-body p {
    font-size: 13px;
    color: #666;
    margin-bottom: 5px;
}

.comments-holder .comment .reply-holder {
    padding-left: 50px;
    padding-top: 5px;
}

/* ======================================= Comments end ========================================*/

.countdown {
    text-align: right;
    font-size: 23px;
}

.countdown div {
    display: inline-block;
    text-align: left;
}

.countdown span {
    margin-right: -4px;
}

.countdown small {
    clear: both;
    font-size: 10px;
}

.countdown .deadline-title {
    float: left;
    font-size: 16px;
    width: 70px;
    margin-top: -7px;
    margin-left: -7px;
}

.button {
    color: #141A1F;
    height: 51px;
    text-align: center;
    padding: 16px 12px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 11px;
}

.orderOfplay {

    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.button.date_select {
    width: 80px;
    height: 70px;
    background-color: #009578;
    display: inline-block;
    padding-top: 3px;
}

.timeTextD {
    font-size: 18px;
    font-weight: bolder !important;
    padding-bottom: 1px;
}

.timeTextM {

    font-size: 15px;
    padding-bottom: 1px;
}

.timeTextY {

    font-size: 12px;
    padding-bottom: 1px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1200;
    background: rgba(0, 0, 0, 0.6);
}

.public-club-map {
    width: 100%;
    height: 300px;
}

.map-tooltip {
    width: 145px;
    padding: 5px;
    background-color: #fff;
    color: #000;
}

label.control-label {
    width: 100%;
}

label.control-label .form-error {
    float: right;
    font-size: 12px;
    color: #C33B32;
    margin-top: 3px;
}

.delete-action {
    font-size: 12px;
    color: #C33B32;
    margin-top: 5px;
}

.signup-validation {
    font-size: 13px;
    margin: 10px 0 0;
    padding-left: 10px;
    color: #C33B32;
}

.hideTile {
    visibility: hidden;
}

.search-box .form-group {
    float: left;
    width: 87%;
}

.submit-btn-inline .btn {
    margin-top: 25px;
}

.from-to-form {
    width: 44%;
    float: left;
}

.from-to-form .form-group {
    width: 100%;
}

.second-inline-input {
    padding-left: 15px;
    padding-right: 6px;
}

.sex-error {
    float: right;
    margin-top: 15px;
    font-size: 13px;
    color: #C33A32;
}

.calendar .btn-default {
    border-color: #fff;
}

.calendar .btn-warning {
    color: #111;
    background-color: #fff;
    border-color: #ccc;
}

.sponsor-holder {
    padding: 0;
    margin-top: -30px;
    margin-left: 30px;
}

.sponsor-holder img {
    border: 1px solid #333;
    max-width: 210px;
    padding: 2px;
    max-height: 135px;
}

.sponsor-holder p {
    color: #111;
    text-align: center;
    margin-top: 3px;
}

.sponsor-public-index {
    border: 1px solid #ddd;
    overflow: hidden;
}

.gracket-box {
    width: 33%;
    float: left;
    padding: 0 10px;
}

.gracket-box h3 {
    font-size: 21px;
}

.gracket-box p {
    font-size: 13px;
}

.gracket-box img.club-image {
    border: 1px solid #333;
    padding: 2px;
    max-width: 210px;
}

.input-control.text {
    padding-bottom: 25px !important;
}

.select2-container {
    width: 100px;
}

.table-title.players {
    padding-bottom: 50px !important;
    display: inline-flex;
}

.input-control.select {
    padding-right: 20px;
}

#message_box {
    background: #e9322d;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}

.schedule-player-holder {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ddd;
    background: #f1f1f1;
}

@media (max-width: 768px) {

    .navbar-public .navbar-header {
        margin-right: 20px !important;
    }

    .navbar-nav {
        margin: -2px;
    }
}

@media (min-width: 768px) {

    .navbar-nav.navbar-right:last-child {
        margin-right: 5px !important;
    }
}

@media (max-width: 1185px) {

    .navbar-public .navbar-header {
        margin-right: 100px;
    }

}

@media (max-width: 1043px) and (min-width: 769px) {

    .nav.navbar-nav.navbar-right {
        position: absolute !important;
        right: 30px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 100%;
    }

}

.wrong-browser
{
    width: 100%;
    height: 80px;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 20px 0 10px 0;
    font-weight: bold;
}

.calendar-holder {
    width:100% !important;
}

.calendar-dropdown {
    margin-bottom:20px;
}

.ranking_genderM {
     text-align:center;
     font-size:20px;
     font-weight:bold;
    margin-bottom:20px;
 }

.ranking_genderF {
    text-align:center;
    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
}
.public-order-of-play {
    padding-top:1%;
    text-align: center;
    font-size:13px;
    color:#FFC627;
}

.box-size-public {
    height:180px;
}
.match-status-public {
    text-align:center;
    margin-top:8%;
    color:#FFC627;
    font-size:13px;
}




